<section class="container-wrap">
	<div class="container">
		{%- render 'site-cart' -%}
	</div>
</section>
<script id="docapp-discount-speedup">
(() => { if (!document.documentElement.innerHTML.includes('\\/shop' + '\\/js' + '\\/discount-on-cart-pro.min.js') || window.discountOnCartProAppLoaded) return; let script = document.createElement('script'); script.src = "https://d9fvwtvqz2fm1.cloudfront.net/shop/js/discount-on-cart-pro.min.js?shop=bearfruit-jewelry.myshopify.com"; document.getElementById('docapp-discount-speedup').after(script); })();
</script>