{% comment %}
  Main navigation is copied here with JS for mobile users
{% endcomment %}
{%- if section.settings.footer_main_menu -%}
  <div id="FooterMobileNavWrap" class="footer__section footer__section--border medium-up--hide hide">
    <div id="FooterMobileNav" class="page-width"></div>
  </div>
{%- endif -%}
<style>
div#shopify-section-footer_expanse {
    background: #8AB0B4;
}

.site-footer a {
  color: white;
}

.footer-flex {
  display: flex;
  max-width: 1485px;
  width: 100%;
  padding: 0px 96px;
}

.site-footer .footer__section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#NewsletterForm--footer_expanse {
  width: 50%;
  padding-right: 37px;
}

.footer__blocks {
  width: 50%;
  padding-left: 37px;
}

.sign-up-form {
  width: 100%;
}

.sign-up-form .inputGroup {
  height: 48px;
}

.sign-up-input {
  max-width: unset;
}

.sign-up-submit {
  width: 168px !important;
  background: white !important
}

.sign-up-submit span {
  color: #8ab0b4!important;
  font-size: 15px;
}

.footer-list_txt {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
  margin-bottom: 10px;
} 

.footer-subscribe_txt {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 14px
}

.contact-form {
  margin-top: 0;
}

.footer__title {
  text-transform: uppercase;
}

  .footer__section--menus {
    padding-top: 100px;
    padding-bottom: 200px;
  }

@media(max-width: 1254px) {
  .footer-flex {
    display: flex;
    padding: 0px 39px;
  }
}

@media(max-width: 753px) {
  .footer__title {
    text-align: left;
    border-bottom: 1px solid white;
    width: fit-content;
    margin-bottom: 30px;
  }

  .footer__menu li {
    text-align: left;
  }

  .site-footer ul {
    text-align: left;
  }

  .footer__mobile-section {
    padding-left: 0 !important;
  }

  .footer-flex {
    flex-direction: column;
  }
  
  .site-footer .footer__section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #NewsletterForm--footer_expanse {
    width: 100%;
    padding-right: unset;
  }
  
  .footer__blocks {
    width: 100%;
    padding-left: unset;
    margin-top: 49px;
    gap: 0;
    justify-content: baseline;
  }
  
  .sign-up-form {
    width: 100%;
  }

  .sign-up-submit {
    width: 134px !important;
    background: white !important
  }

  .contact-form input.sign-up-input {
    font-size: 14px;
  }
  
  .sign-up-form .inputGroup {
    height: 48px;
  }

  .footer-list_txt {
    font-size: 13px;
    line-height: 23px;
    border-bottom: 1px solid white;
    width: fit-content;
    margin-bottom: 4px;
  } 

  .footer-subscribe_txt {
    font-size: 13px;
    line-height: 23px;
  }

  .footer__block {
    width: 50% !important;
    flex: 50% !important;
  }

  .sign-up-form .inputGroup {
    height: 38px;
  }
}
</style>
<footer class="site-footer" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div id="FooterMenus" class="footer__section footer__section--menus">
    <div class="page-width footer-flex">
      {% render 'newsletter-footer' %}
      <div class="footer__blocks">
        {%- for block in section.blocks -%}
          <div {{ block.shopify_attributes }} class="footer__block" data-type="{{ block.type }}">
            {%- liquid
              case block.type
                when 'menu'
                  render 'footer-menu', block: block
                when 'payment'
                  assign show_currency_flags = block.settings.show_currency_flags
                  render 'footer-payments', block: block, show_currency_flags: show_currency_flags
                when 'contact'
                  render 'footer-contact', block: block
              endcase
            -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>

  
</footer>

{% schema %}
{
  "name": "footer expanse",
  "max_blocks": 12,
  "settings": [
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "Show newsletter signup",
      "info": "Customers who subscribe will have their email address added to the 'accepts marketing' [customer list](/admin/customers?query=&accepts_marketing=1).",
      "default": true
    },
    {
      "type": "richtext",
      "id": "newsletter_richtext",
      "label": "Text",
      "default": "<p>Subscribe today to hear first about our sales</p>"
    },
    {
      "type": "header",
      "content": "Additional footer content"
    },
    {
      "type": "checkbox",
      "id": "footer_main_menu",
      "label": "Repeat main menu on mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_copyright",
      "label": "Show copyright"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Additional copyright text"
    },
    {
      "type": "link_list",
      "id": "policies_menu",
      "label": "Policies menu",
      "info": "This menu will only show top-level links"
    }
  ],
  "blocks": [
    {
      "type": "payment",
      "name": "Payments and localization",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_payment_icons",
          "label": "Show payment icons",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_locale_selector",
          "label": "Show language selector",
          "info": "To add a language, go to your [language settings.](/admin/settings/languages)",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_currency_selector",
          "label": "Show currency selector",
          "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_currency_flags",
          "label": "Show currency flags",
          "default": true
        }
      ]
    },
    {
      "type": "menu",
      "name": "Navigation",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Defaults to menu title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Choose a menu",
          "default": "footer",
          "info": "This menu will only show top-level links"
        },
        {
          "type": "checkbox",
          "id": "enable_account_link",
          "label": "Add 'My account' link if customer accounts enabled"
        }
      ]
    },
    {
      "type": "contact",
      "name": "Contact and social",
      "settings": [
        {
          "type": "header",
          "content": "Contact"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "Phone number"
        },
        {
          "type": "page",
          "id": "contact",
          "label": "Contact page"
        },
        {
          "type": "page",
          "id": "chat",
          "label": "Chat link"
        },
        {
          "type": "header",
          "content": "Show social accounts"
        },
        {
          "type": "checkbox",
          "id": "enable_social",
          "label": "Show social accounts",
          "default": true
        }
      ]
    }
  ],
  "default": {
    "settings": {},
    "blocks": [
      {
        "type": "menu",
        "settings": {}
      },
      {
        "type": "payment",
        "settings": {}
      }
    ]
  }
}
{% endschema %}
