{% comment %} Featured product section {% endcomment %}
{%- assign product = all_products[section.settings.product] -%}

<section data-section-id="{{ section.id }}" data-section-type="product">
  {%- render 'product', product: product, section_type: 'featured-product' -%}
</section>

{% schema %}
{
  "name": "Featured product",
  "class": "shopify-section--featured-product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [{
          "value": "top",
          "label": "Top"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Image size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "large"
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "price-and-title",
      "name": "Price and title",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "Show vendor",
          "default": true
        },
        {
          "type": "header",
          "content": "Star rating",
          "info": "Requires an app to set the metafield value for reviews.rating"
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "label": "Show star rating",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_rating_count",
          "label": "Show rating count",
          "default": false
        }
      ],
      "limit": 1
    },
    {
      "type": "form",
      "name": "Form",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_quantity",
          "label": "Show quantity picker",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "header",
          "content": "Newsletter"
        },
        {
          "type": "checkbox",
          "id": "show_newsletter",
          "label": "Show newsletter if out of stock",
          "default": true
        },
        {
          "type": "richtext",
          "id": "text_newsletter",
          "label": "Text",
          "default": "<p>Notify me when this product is available:</p>"
        }
      ],
      "limit": 1
    },
    {
      "type": "product-description",
      "name": "Product description",
      "limit": 1
    },
    {
      "type": "social-share",
      "name": "Social share",
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "Featured product",
      "category": "Collection",
      "blocks": [
        {
          "type": "price-and-title"
        },
        {
          "type": "form"
        },
        {
          "type": "product-description"
        },
        {
          "type": "social-share"
        }
      ]
    }
  ]
}
{% endschema %}
