


<section class="crystal-set-collection-top-short-description-section shopify-section">
  <div class="crystal-set-collection-container container">
  	<div class="crystal-set-collection-row row">
      <div class="crystal-set-collection-col col-md-12 align-center" style="width: 100%;margin-top: 10px;margin-bottom: 30px;">
        <!--<p class="top-short-description-txt crystal-set-collection-font1">This season, we're taking it back to the basics. We've curated all the essentials you need to build the perfect jewelry wardrobe.<br>These pieces are a necessity in every jewelry collection, whether you're in love with statement pieces for a bolder look or prefer to keep it minimal.</p>-->
      </div>
    </div>
  </div>
</section>

<div style="position: relative; ">
  <picture class="v-background">
    <source media="(min-width:850px)" srcset="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_176-min_d85ea06a-73fe-4b6f-9a1f-b83b5fea7cf7.png?v=1681994729">
    <img class="mb-h" src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_210-min.png?v=1682383020" alt="Valentines">
  </picture>
</div>
<div class="page-title" style="margin-top: unset; position: relative;">
  
  <div class="container">
    <div class="main-header_text" style="margin-top:unset">Mother's Day Collection</div>
  </div>
  
</div>

{% render 'valentine-collection-fifth-row-products' %}

<section class="crystal-set-collection-top-short-description-section shopify-section">
  <div class="crystal-set-collection-container container">
  	<div class="crystal-set-collection-row row">
      <div class="crystal-set-collection-col col-md-12 align-center" style="width: 100%;margin-top: 10px;margin-bottom: 30px;">
        <!--<p class="top-short-description-txt crystal-set-collection-font1">This season, we're taking it back to the basics. We've curated all the essentials you need to build the perfect jewelry wardrobe.<br>These pieces are a necessity in every jewelry collection, whether you're in love with statement pieces for a bolder look or prefer to keep it minimal.</p>-->
      </div>
    </div>
  </div>
</section>

{% render 'valentines-collection-third-row-products' %}

<section class="crystal-set-collection-top-short-description-section shopify-section">
  <div class="crystal-set-collection-container container">
  	<div class="crystal-set-collection-row row">
      <div class="crystal-set-collection-col col-md-12 align-center" style="width: 100%;margin-top: 10px;margin-bottom: 30px;">
        <!--<p class="top-short-description-txt crystal-set-collection-font1">This season, we're taking it back to the basics. We've curated all the essentials you need to build the perfect jewelry wardrobe.<br>These pieces are a necessity in every jewelry collection, whether you're in love with statement pieces for a bolder look or prefer to keep it minimal.</p>-->
      </div>
    </div>
  </div>
</section>


<div style="width:100%; overflow:hidden; position:relative; display:flex; align-items:center; justify-content:center" class="mg-53-26 calc-cont">
  <div class="main-header__container"> 
    <div class="main-header_text">Come By And Shop</div>
  </div>
</div>

<div class="auto-slider__container">
  <picture class="a-slider-image__wrapper">
    <source media="(max-width:750px)" srcset="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/DAA01626_copy_1-min.jpg?v=1680024621">
    <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/DAA01626_copy_1-min.jpg?v=1680024621">

    <!--
    <div style="position:absolute; top:50%; left:50%; transform:translate(-50%,-50%)" class="only-desktop">
      <div class="main-header_text" style="margin-bottom:16px">Come By And Shop</div>
      <a href="#" class="landing-shop__btn only-desktop"><div>Find our locations here</div></a>
    </div>
    -->
  </picture>

  <div class="auto_container a-slider-slides__wrapper" >
    <div class="slide slide-1 active">
      <h2 class="slider-eyebrow_text">Fashion Island</h2 class="slider-eyebrow_text">
      <div class="slider-body_text">941 Newport Center Drive<br> Newport Beach, CA</div>
    </div>
    <div class="slide slide-1" data-duration="3500">
      <h2 class="slider-eyebrow_text">Irvine Spectrum Center</h2 class="slider-eyebrow_text">
      <div class="slider-body_text" >742 Spectrum Center Drive<br> Irvine, CA</div>
    </div>
    <div class="slide slide-1" data-duration="3500">
      <h2 class="slider-eyebrow_text">The Shops at Santa Anita</h2 class="slider-eyebrow_text">
      <div class="slider-body_text">400 S Baldwin Ave, E20<br> Arcadia, CA</div>
    </div>
    <div class="slide slide-1" data-duration="3500">
      <h2 class="slider-eyebrow_text">Westfield Century City</h2 class="slider-eyebrow_text">
      <div class="slider-body_text">10250 Santa Monica Blvd, Space 9198<br> Los Angeles, CA</div>
    </div>
    <div class="slide slide-1" data-duration="3500">
      <h2 class="slider-eyebrow_text">Denver International Airport</h2 class="slider-eyebrow_text">
      <div class="slider-body_text">8500 Peña Blvd,<br>
      Denver, CO<br>
      </div>
    </div>
    <div class="slide slide-1" data-duration="3500">
      <h2 class="slider-eyebrow_text">Beverly Center</h2 class="slider-eyebrow_text">
      <div class="slider-body_text">8500 Beverly blvd, Space 605,<br> Los Angeles, CA</div>
    </div>
    <div class="slide slide-1" data-duration="3500">
      <h2 class="slider-eyebrow_text">Del Amo Fashion Center</h2 class="slider-eyebrow_text">
      <div class="slider-body_text">3525 W Carson St, #410B<br> Torrance, CA</div>
    </div>
    <div class="slide slide-1" data-duration="3500">
      <h2 class="slider-eyebrow_text">Pacific City</h2 class="slider-eyebrow_text">
      <div class="slider-body_text">21010 E Pacific Coast Hwy, B100<br> Huntington Beach, CA</div>
    </div>
    <div class="slide slide-1" data-duration="3500">
      <h2 class="slider-eyebrow_text">Galleria Dallas</h2 class="slider-eyebrow_text">
      <div class="slider-body_text">13350 Dallas Pkwy, Suite 1225<br> Dallas, TX</div>
    </div>
    <div class="slide slide-1" data-duration="3500">
      <h2 class="slider-eyebrow_text">Los Cerritos Center</h2 class="slider-eyebrow_text">
      <div class="slider-body_text">255 Los Cerritos Center, Space D20<br>Cerritos, CA</div>
    </div>
    <div class="slide slide-1" data-duration="3500">
      <h2 class="slider-eyebrow_text">Santa Monica Place</h2 class="slider-eyebrow_text">
      <div class="slider-body_text">395 Santa Monica Pl, Space 112<br>Santa Monica, CA</div>
    </div>

    <a href="/pages/location" class="landing-shop__btn only-desktop"><div>Find our locations here</div></a>
  </div>
  <div class="a-slider-dots__wrapper">
    <svg class="dot" width="10" height="10" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg">
      <circle cx="5" cy="5" r="5" transform="rotate(90 5 5)" />
    </svg>
    <svg class="dot" width="10" height="10" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg">
      <circle cx="5" cy="5" r="5" transform="rotate(90 5 5)" />
    </svg>
    <svg  class="dot" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
      <circle cx="5" cy="5" r="5" transform="rotate(90 5 5)" />
    </svg>
    <svg class="dot" width="10" height="10" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg">
      <circle cx="5" cy="5" r="5" transform="rotate(90 5 5)" />
    </svg>
    <svg class="dot" width="10" height="10" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg">
      <circle cx="5" cy="5" r="5" transform="rotate(90 5 5)" />
    </svg>
    <svg class="dot" width="10" height="10" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg">
      <circle cx="5" cy="5" r="5" transform="rotate(90 5 5)" />
    </svg>
    <svg class="dot" width="10" height="10" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg">
      <circle cx="5" cy="5" r="5" transform="rotate(90 5 5)" />
    </svg>
    <svg class="dot" width="10" height="10" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg">
      <circle cx="5" cy="5" r="5" transform="rotate(90 5 5)" />
    </svg>
    <svg class="dot" width="10" height="10" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg">
      <circle cx="5" cy="5" r="5" transform="rotate(90 5 5)" />
    </svg>
    <svg class="dot" width="10" height="10" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg">
      <circle cx="5" cy="5" r="5" transform="rotate(90 5 5)" />
    </svg>
    <svg class="dot" width="10" height="10" viewBox="0 0 10 10"  xmlns="http://www.w3.org/2000/svg">
      <circle cx="5" cy="5" r="5" transform="rotate(90 5 5)" />
    </svg>
  </div>
</div>
<div style="width:100%; overflow:hidden; position:relative; display:flex; align-items:center; justify-content:center; margin-top:30px" class="only-mobile">
  <a href="/pages/location" class="landing-shop__btn"><div>Find our locations here</div></a>
</div>

<div style="width:100%; overflow:hidden; position:relative; display:flex; align-items:center; justify-content:center" class="mg-53-26 calc-cont">
  <div class="main-header__container"> 
    <div class="main-header_text">E Gift Card</div>
  </div>
</div>


<div class="auto-slider__container">
  <picture class="a-slider-image__wrapper">
    <source media="(max-width:750px)" srcset="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Frame_8-min.jpg?v=1682092271">
    <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/230303_bfj_1835_copy_1-min.jpg?v=1682092272">

    <!--
    <div style="position:absolute; top:50%; left:50%; transform:translate(-50%,-50%)" class="only-desktop">
      <div class="main-header_text" style="margin-bottom:16px">Come By And Shop</div>
      <a href="#" class="landing-shop__btn only-desktop"><div>Find our locations here</div></a>
    </div>
    -->
  </picture>

  <div class="auto_container a-slider-slides__wrapper" >
    <div class="slide  active" style="display: flex; align-items:center; justify-content:center; transform:translate(-50%,-50%) !important">

    <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_238-min.jpg?v=1682091896" onclick="location.href='/products/gift-card-1'" class="only-desktop" style="cursor:pointer; max-width:326px">
  </div>
  <div class="a-slider-dots__wrapper">
    
  </div>
</div>
  <div style="width:100%; overflow:hidden; position:relative; display:flex; align-items:center; justify-content:center; margin-top:30px; flex-direction:column" class="only-mobile">
    <a href="/products/gift-card-1" class="landing-shop__btn"><div>Shop Now</div></a>
    <div style="font-family: 'Quicksand';font-weight: 400;font-size: 11.4513px;line-height: 14px; margin-top:5px">* Valid online only</div>
  </div>
</div>

<div style="display:flex; align-items:center; justify-content:center; width: 100%; background: rgba(138, 176, 180, 0.6);" class="mg-71-m">
  <picture style="width: 100%; display:flex; align-items:center; justify-content: center ">
    <source media="(max-width:750px)" srcset="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_150_2295c980-f78e-4ec5-b458-7fc3bae162a3.jpg?v=1682381128">
    <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_240.jpg?v=1682381214" alt="All Product" style="width:auto;">
  </picture>
</div>
        
<script>
  var autoslider = autoslider || {
  el: {
    slides: document.getElementsByClassName('slide-1'),
    dots: document.getElementsByClassName('dot')
  },
  defaultDuration: 3500,
  init: function () {
    console.log('ini');
    this.current = 0;
    this.max = this.el.slides.length - 1;
    this.timer = this.getTimerValue(this.current);
    this.setTimer;
    this.initBtnDots();
    this.next();
  },
  initBtnDots: function () {
    var that = this;
    for(let i=0; i< this.el.dots.length; i++) {
      this.el.dots[i].addEventListener('click', function(){
        that.changeSlide(i);
        that.current = i;
        that.stopFunction(that.setTimer)
        that.next();
      })
    }
  },
  stopFunction: function(curTimer) {
    clearTimeout(curTimer);
  },
  next: function () {
    var that = this,
        nextIndex = this.current + 1;
    if (this.current === this.max) {
      nextIndex = 0;
    }
    this.timer = this.getTimerValue(this.current);
    that.setTimer = setTimeout(function () {
      that.changeSlide(nextIndex);
      that.current = nextIndex;
      that.next();
    }, this.timer, nextIndex);
  },
  changeSlide: function (nextIndex) {
    this.el.slides[this.current].classList.remove('active');
    this.el.slides[nextIndex].classList.add('active');
    this.el.dots[this.current].style.fill = '#D5D4D4';
    this.el.dots[nextIndex].style.fill = '#C0BFBF';
  },
  getTimerValue: function (index) {
    return this.el.slides[index].dataset.duration || this.defaultDuration;
  }
};
autoslider.init();
</script>





{% schema %}
  {
    "name": "Sentimental Gift",
    "settings": [
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "narrow_column",
        "label": "Narrow column",
        "default": true
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "1",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Rich text"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "checkbox",
            "id": "enlarge_text",
            "label": "Enlarge text",
            "default": true
          },
          {
            "id": "text",
            "type": "richtext",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "url",
            "id": "link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Button text",
            "default": "Button"
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "id": "page_text",
            "type": "page",
            "label": "Page"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Sentimental Gift",
        "blocks": [

        ]
      }
    ]
  }
  {% endschema %}