@charset "UTF-8";

/*!
  Expanse, by Archetype Themes
  http://archetypethemes.co
*/

:root{
  --colorBtnPrimary:{{ settings.color_button | default: "#000" }};
  --colorBtnPrimaryLight:{{ settings.color_button | default: "#000" | color_lighten: 10 }};
  --colorBtnPrimaryDim:{{ settings.color_button | default: "#000" | color_darken: 5 }};
  --colorBtnPrimaryText:{{ settings.color_button_text | default: "#fff" }};
  --colorCartDot:{{ settings.color_cart_dot | default: "#ff4f33" }};
  --colorCartDotText:{{ settings.color_cart_dot_text | default: "#fff" }};

  --colorLink:{{ settings.color_body_text | default: "#1c1d1d" }};

  --colorTextBody:{{ settings.color_body_text | default: "#1c1d1d" }};
  --colorPrice:{{ settings.color_price | default: "#1c1d1d" }};
  --colorTextSavings:{{ settings.color_savings_text | default: "#1c1d1d" }};
  --colorSaleTag:{{ settings.color_sale_tag | default: "#1c1d1d" }};
  --colorSaleTagText:{{ settings.color_sale_tag_text | default: "#ffffff" }};

  --colorBody:{{ settings.color_body_bg | default: "#fff" }};
  --colorBodyDim:{{ settings.color_body_bg | default: "#1c1d1d" | color_darken: 5 }};

  --colorFooter:{{ settings.color_footer | default: "#111" }};
  --colorFooterBorder:{{ settings.color_footer_border | default: "#222" }};
  --colorFooterText:{{ settings.color_footer_text | default: "#fff" }};

  --colorBorder:{{ settings.color_borders | default: "#1c1d1d" }};

  --colorNav:{{ settings.color_header | default: "#fff" }};
  --colorNavText:{{ settings.color_header_text | default: "#000" }};
  --colorToolbar:{{ settings.color_announcement | default: "#fff" }};
  --colorToolbarText:{{ settings.color_announcement_text | default: "#000" }};
  --colorNavSearch:{{ settings.color_header_search | default: "#fff" }};

  --colorModalBg:#e0e0e0;

  --colorScheme1Text:{{ settings.color_scheme_1_text | default: "#000" }};
  --colorScheme1Bg:{{ settings.color_scheme_1_bg | default: "#fff" }};
  --colorScheme2Text:{{ settings.color_scheme_2_text | default: "#000" }};
  --colorScheme2Bg:{{ settings.color_scheme_2_bg | default: "#fff" }};
  --colorScheme3Text:{{ settings.color_scheme_3_text | default: "#000" }};
  --colorScheme3Bg:{{ settings.color_scheme_3_bg | default: "#d29896" }};

  --header-padding-bottom:0;

  --pageTopPadding:35px;
  --pageNarrow:700px;
  --pageWidthPadding:40px;
  --gridGutter:22px;
  --indexSectionPadding:60px;
  --sectionHeaderBottom:40px;
  --collapsibleIconWidth:12px;

  --sizeChartMargin:30px 0;
  --sizeChartIconMargin:5px;

  --newsletterReminderPadding:20px 30px 20px 25px;

  --textFrameMargin:10px;
  --color-body-text:{{ settings.color_body_text | default: "#1c1d1d" }};
  --color-body:{{ settings.color_body_bg | default: "#fff" }};
  --color-bg:{{ settings.color_body_bg | default: "#fff" }};
}

@media only screen and (max-width:768px){
  :root{
    --pageTopPadding:15px;
    --pageNarrow:330px;
    --pageWidthPadding:17px;
    --gridGutter:16px;
    --indexSectionPadding:40px;
    --sectionHeaderBottom:25px;
    --collapsibleIconWidth:10px;

    --textFrameMargin:7px;
  }
}




body,html{
  padding:0;
  margin:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
  display:block;
}

audio,canvas,progress,video{
  display:inline-block;
  vertical-align:baseline;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
  height:auto;
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
  -webkit-appearance:none;
}

@media only screen and (max-width:768px){.small--one-whole{width:100%;}.small--one-half{width:50%;}.small--one-third{width:33.33333%;}.small--two-thirds{width:66.66667%;}.grid--uniform .small--one-half:nth-of-type(odd),.grid--uniform .small--one-third:nth-of-type(3n+1){clear:both;}.small--one-quarter{width:25%;}.small--two-quarters{width:50%;}.small--three-quarters{width:75%;}.grid--uniform .small--one-quarter:nth-of-type(4n+1){clear:both;}.small--one-fifth{width:20%;}.small--two-fifths{width:40%;}.small--three-fifths{width:60%;}.small--four-fifths{width:80%;}.grid--uniform .small--one-fifth:nth-of-type(5n+1){clear:both;}.small--one-sixth{width:16.66667%;}.small--two-sixths{width:33.33333%;}.small--three-sixths{width:50%;}.small--four-sixths{width:66.66667%;}.small--five-sixths{width:83.33333%;}.grid--uniform .small--one-sixth:nth-of-type(6n+1),.grid--uniform .small--three-sixths:nth-of-type(odd),.grid--uniform .small--two-sixths:nth-of-type(3n+1){clear:both;}}

@media only screen and (min-width:769px){.medium-up--one-whole{width:100%;}.medium-up--one-half{width:50%;}.medium-up--one-third{width:33.33333%;}.medium-up--two-thirds{width:66.66667%;}.grid--uniform .medium-up--one-half:nth-of-type(odd),.grid--uniform .medium-up--one-third:nth-of-type(3n+1){clear:both;}.medium-up--one-quarter{width:25%;}.medium-up--two-quarters{width:50%;}.medium-up--three-quarters{width:75%;}.grid--uniform .medium-up--one-quarter:nth-of-type(4n+1){clear:both;}.medium-up--one-fifth{width:20%;}.medium-up--two-fifths{width:40%;}.medium-up--three-fifths{width:60%;}.medium-up--four-fifths{width:80%;}.grid--uniform .medium-up--one-fifth:nth-of-type(5n+1){clear:both;}.medium-up--one-sixth{width:16.66667%;}.medium-up--two-sixths{width:33.33333%;}.medium-up--three-sixths{width:50%;}.medium-up--four-sixths{width:66.66667%;}.medium-up--five-sixths{width:83.33333%;}.grid--uniform .medium-up--one-sixth:nth-of-type(6n+1),.grid--uniform .medium-up--three-sixths:nth-of-type(odd),.grid--uniform .medium-up--two-sixths:nth-of-type(3n+1){clear:both;}}

.show{display:block !important;}

.hide{display:none !important;}

.text-left{text-align:left !important;}

.text-right{text-align:right !important;}

.text-center{text-align:center !important;}

@media only screen and (max-width:768px){.small--show{display:block !important;}.small--hide{display:none !important;}.small--text-left{text-align:left !important;}.small--text-right{text-align:right !important;}.small--text-center{text-align:center !important;}}

@media only screen and (max-width:959px){.medium-down--show{display:block !important;}.medium-down--hide{display:none !important;}.medium-down--text-left{text-align:left !important;}.medium-down--text-right{text-align:right !important;}.medium-down--text-center{text-align:center !important;}}

@media only screen and (min-width:769px){.medium-up--show{display:block !important;}.medium-up--hide{display:none !important;}.medium-up--text-left{text-align:left !important;}.medium-up--text-right{text-align:right !important;}.medium-up--text-center{text-align:center !important;}}

.flex-grid{
  display:flex;
  flex-wrap:wrap;
  flex:1 1 100%
}

[data-center-text=true] .flex-grid{
    justify-content:center
}

.flex-grid--center{
  align-items:center;
}

.flex-grid--gutters{
  margin-top:-15px;
  margin-left:-15px;
}

.flex-grid__item{
  flex:0 1 100%;
  display:flex;
  align-items:stretch
}

.flex-grid--gutters .flex-grid__item{
    padding-top:15px;
    padding-left:15px
}

.flex-grid__item>*{
    flex:1 1 100%;
  }

.flex-grid__item--stretch{
  flex:1 1 100%;
}

@media only screen and (min-width:769px){
  .flex-grid__item--33{
    flex-basis:33.33%;
  }

  .flex-grid__item--50{
    flex-basis:50%;
  }
}

.clearfix:after{content:"";display:table;clear:both;}

html:not(.no-js):not(.tab-outline) :focus{
  outline:none;
}

.is-transitioning{
  display:block !important;
  visibility:visible !important;
}

.display-table{
  display:table;
  table-layout:fixed;
  width:100%;
}

.display-table-cell{
  display:table-cell;
  vertical-align:middle;
  float:none;
}

@media only screen and (min-width:769px){
  .medium-up--display-table{
    display:table;
    table-layout:fixed;
    width:100%;
  }

  .medium-up--display-table-cell{
    display:table-cell;
    vertical-align:middle;
    float:none;
  }
}

.visually-hidden{
  clip:rect(0, 0, 0, 0);
  overflow:hidden;
  position:absolute;
  height:1px;
  width:1px;
}

.visually-invisible{
  opacity:0 !important;
}

.skip-link:focus{
  clip:auto;
  width:auto;
  height:auto;
  margin:0;
  color:{{ settings.color_body_text | default: "#1c1d1d" }};
  color:var(--colorTextBody);
  background-color:{{ settings.color_body_bg | default: "#fff" }};
  background-color:var(--colorBody);
  padding:10px;
  opacity:1;
  z-index:10000;
  transition:none;
}

html{
  touch-action:manipulation;
}

html[dir=rtl]{
  direction:rtl;
}

body,html{
  background-color:{{ settings.color_body_bg | default: "#fff" }};
  background-color:var(--colorBody);
  color:{{ settings.color_body_text | default: "#1c1d1d" }};
  color:var(--colorTextBody);
}

@media only screen and (max-width:768px){
  .supports-touch.lock-scroll{
    overflow:hidden;
  }
}

.transition-body{
  position:relative;
  z-index:2;
}

.recently-viewed__section{
  position:relative;
  z-index:1;
}

.page-width{
  max-width: 1442px;
  margin:0 auto;
}


.page-width--narrow{
  max-width:700px;
  max-width:var(--pageNarrow);
}

.page-width--tiny{
  max-width:450px;
}

@media only screen and (max-width:768px){
  .page-width--flush-small{
    padding:0;
  }
}

.page-content,.shopify-email-marketing-confirmation__container,.shopify-policy__container{
  padding-top:35px;
  padding-top:var(--pageTopPadding);
  padding-bottom:35px;
  padding-bottom:var(--pageTopPadding);
}

.shopify-email-marketing-confirmation__container{
  text-align:center;
}

.page-content--top,.page-content--with-blocks{
  padding-bottom:0;
}


.hr--large,.hr--medium,.hr--small,hr{
  height:1px;
  border:0;
  border-top:1px solid;
  border-top-color:{{ settings.color_borders | default: "#1c1d1d" }};
  border-top-color:var(--colorBorder);
}

.hr--small{
  margin:15px auto;
}

.hr--medium{
  margin:30px auto;
}

.hr--large{
  margin:30px auto
}

@media only screen and (min-width:769px){

.hr--large{
    margin:45px auto
}
  }

.page-blocks+.hr--large,.page-blocks+[data-section-type=recently-viewed] .hr--large{
    margin-top:0
}

.hr--clear{
  border:0;
}

@media only screen and (max-width:768px){
    .table--responsive thead{
      display:none;
    }

    .table--responsive tr{
      display:block;
    }

    .table--responsive td,.table--responsive tr{
      float:left;
      clear:both;
      width:100%;
    }

    .table--responsive td,.table--responsive th{
      display:block;
      text-align:right;
      padding:15px;
    }

    .table--responsive td:before{
      content:attr(data-label);
      float:left;
      font-size:12px;
      padding-right:10px;
    }
  }

@media only screen and (max-width:768px){
  .table--small-hide{
    display:none !important;
  }

  .table__section+.table__section{
    position:relative;
    margin-top:10px;
    padding-top:15px
  }

    .table__section+.table__section:after{
      content:"";
      display:block;
      position:absolute;
      top:0;
      left:15px;
      right:15px;
      border-bottom:1px solid;
      border-bottom-color:{{ settings.color_borders | default: "#1c1d1d" }};
      border-bottom-color:var(--colorBorder);
    }
}

.faux-select,body,button,input,select,textarea{
  font-family:var(--typeBasePrimary),var(--typeBaseFallback);
  font-size:var(--typeBaseSize);
  letter-spacing:var(--typeBaseSpacing);
  line-height:var(--typeBaseLineHeight);
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust:100%;
  text-rendering:optimizeSpeed;
}

body{
  font-weight:var(--typeBaseWeight);
}

p{
  margin:0 0 15px 0
}

p:last-child{
    margin-bottom:0;
  }

p img{
    margin:0;
  }

em{
  font-style:italic;
}

b,strong{
  font-weight:700;
}

p[data-spam-detection-disclaimer],small{
  font-size:0.85em;
}

.index-section:not(.index-section--sub-product):first-child{
    margin-top:0;
  }

.page-width .index-section .page-width{
  padding-left:0;
  padding-right:0;
}

.index-section--flush{
  margin:0;
}

.index-section--faq{
  margin-bottom:20px;
}

.template-challange .index-section--footer{
  display:none;
}


.page-blocks--flush .page-width{
  padding:0;
}

.page-blocks>div:first-child .index-section{
    margin-top:0;
  }


@media only screen and (min-width:769px){

.feature-row__image{
    order:2
}
  }

.feature-row__text{
  min-width:43%;
  flex:0 1 43%;
  padding:0
}

@media only screen and (max-width:768px){

.feature-row__text{
    order:2;
    margin-top:0;
    padding:30px 20px 0;
    padding-bottom:0
}
  }

.feature-row__text .rte{
    margin:0;
  }

.feature-row__text .btn{
    margin-top:15px;
  }

@media only screen and (min-width:769px){
  .feature-row__text--left{
    padding-left:60px;
    padding-right:100px;
  }

  .feature-row__text--right{
    padding-right:60px;
    padding-left:100px;
  }
}

.product-block{
  margin-bottom:30px
}

.product-block hr{
    margin:0;
  }

.product-block--tab+.product-block--tab{
  margin-top:-30px;
}

.product-block--sales-point+.product-block--sales-point{
  margin-top:-20px;
}

.theme-block{
  margin-bottom:16px
}

.theme-block:last-child{
    margin-bottom:0;
  }

[data-product-blocks] .spr-starrating{
  margin-bottom:15px;
  margin-top:-15px;
}

.slideshow-wrapper{
  position:relative;
}

.slideshow__pause:focus{
  clip:auto;
  width:auto;
  height:auto;
  margin:0;
  color:{{ settings.color_button_text | default: "#fff" }};
  color:var(--colorBtnPrimaryText);
  background-color:{{ settings.color_button | default: "#000" }};
  background-color:var(--colorBtnPrimary);
  padding:10px;
  z-index:10000;
  transition:none
}

.video-is-playing .slideshow__pause:focus{
    display:none
}

.slideshow__pause-stop{
  display:block
}

.is-paused .slideshow__pause-stop{
    display:none
}

.slideshow__pause-play{
  display:none
}

.is-paused .slideshow__pause-play{
    display:block
}

.slideshow__slide{
  display:none;
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden
}

.slideshow__slide:first-child{
    display:block;
  }

.flickity-slider .slideshow__slide{
    display:block
}

.hero--padded .slideshow__slide{
    border-radius:var(--roundness);
    overflow:hidden
}

.hero--padded{
  margin-top:40px;
  margin-top:var(--pageWidthPadding);
  margin-bottom:40px;
  margin-bottom:var(--pageWidthPadding)
}

.index-section--hero:first-child .hero--padded{
    margin-top:0;
    padding-top:40px;
    padding-top:var(--pageWidthPadding)
}

.hero{
  position:relative;
  overflow:hidden;
  background-color:var(--colorLargeImageBg);
  color:#fff;
  max-width: 1532px;
  margin: 0 auto;  
}

.hero.loaded{
    background-color:transparent;
    transition:background-color 0.2s ease 0.3s;
  }

.hero--padded .hero{
    border-radius:var(--roundness)
}

.hero__media-container{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

.hero__image-wrapper,.hero__media{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

.hero__image_expanse{
  position:relative;
  width:100%;
  height:100%;
  z-index:1;
  -o-object-fit:cover;
     object-fit:cover;
}

.hero__media{
  z-index:1;
}

.hero__image-wrapper--no-overlay:before{
  content:none;
}

.hero__media iframe,.hero__media video{
  width:100%;
  height:100%;
  pointer-events:none
}

.video-interactable .hero__media iframe,.video-interactable .hero__media video{
    pointer-events:auto
}

.video-parent-section.loading .hero__media iframe,.video-parent-section.loading .hero__media video{
    opacity:0.01
}

.video-parent-section.loaded .hero__media iframe,.video-parent-section.loaded .hero__media video{
    opacity:1;
    animation:zoom-fade 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
    transition:none
}

.hero__media video{
  position:relative;
  -o-object-fit:cover;
     object-fit:cover;
  font-family:"object-fit: cover";
}

.hero__media iframe{
  position:absolute;
  top:0;
  left:0;
  width:300%;
  left:-100%;
  max-width:none
}

@media screen and (min-width:1140px){

.hero__media iframe{
    width:100%;
    height:300%;
    left:auto;
    top:-100%
}
  }

.vimeo-mobile-trigger{
  display:block;
  position:absolute;
  width:100%;
  z-index:2;
  margin-top:90px
}

.hero__text-content .vimeo-mobile-trigger{
    bottom:120%
}

.vimeo-mobile-trigger .icon{
    width:40px;
    height:40px;
    background-color:#fff;
    border-radius:50%;
    padding:10px;
  }

.hero__slide-link{
  display:block;
  position:absolute;
  height:100%;
  width:100%;
  z-index:5
}


.hero__text-wrap{
  position:relative;
  height:100%
}

.video-interactable .hero__text-wrap{
    pointer-events:none
}

.hero__text-wrap .page-width{
    display:table;
    width:100%;
    height:100%;
  }

.hero__text-content{
  position:relative;
  padding:15px 0;
  z-index:4
}

@media only screen and (min-width:769px){

.hero__text-content{
    padding:45px 0
}
  }

[data-dots=true] .hero__text-content{
    padding-bottom:40px
}

.hero__text-shadow{
  position:relative;
  display:inline-block;
  text-shadow:0 3px 7px rgba(0, 0, 0, 0.15)
}

.hero__text-shadow:after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-1;
    background:radial-gradient(rgba(0, 0, 0, 0.3) 0%, transparent 60%);
    margin:-100px -200px -100px -200px;
  }

.hero__text-shadow .btn{
    text-shadow:none;
  }

.horizontal-left .hero__text-shadow{
    max-width:500px
}

.horizontal-right .hero__text-shadow{
    max-width:500px;
    text-align:left
}

@media only screen and (max-width:768px){

.horizontal-left .hero__text-shadow{
      max-width:85%
}

.horizontal-right .hero__text-shadow{
      max-width:85%
}
  }

.hero__subtitle,.hero__title,.hero__top-subtitle{
  margin-bottom:10px
}

@media only screen and (min-width:769px){

.hero__subtitle,.hero__title,.hero__top-subtitle{
    margin-bottom:15px
}
  }

.hero__top-subtitle{
  text-transform:uppercase;
  letter-spacing:0.3em;
  font-size:1.1em;
}

.hero__title{
  display:block
}

.hero__title p{
    margin-bottom:0;
  }

.hero__subtext{
  margin-top:20px;
}

.hero__subtitle{
  display:block;
  vertical-align:middle
}

@media only screen and (min-width:769px){

.hero__subtitle{
    font-size:1.3em
}
  }

.hero__link{
  position:relative;
  display:block
}

.video-interactable .hero__link{
    pointer-events:auto
}

.hero__link .btn{
    margin:4px 15px 15px 0
  }

@media only screen and (max-width:768px){

.hero__link .btn{
      margin:4px 10px 6px 0
  }

.small--text-center .hero__link .btn{
        margin:4px 10px 6px
  }
    }

.hero__link .btn .icon-play{
    position:relative;
    top:-2px;
    margin-right:5px;
  }

.hero__link .btn--inverse{
    color:currentColor;
    border-color:currentColor;
  }

.hero__text-content{
  display:table-cell
}

.hero__text-content .hero__link{
    margin-top:7.5px
  }

@media only screen and (min-width:769px){

.hero__text-content .hero__link{
      margin-top:15px
  }
    }

.hero__text-content.horizontal-left{
    text-align:left;
  }

.hero__text-content.horizontal-center{
    text-align:center;
  }

.hero__text-content.horizontal-right{
    text-align:right;
  }

.hero__text-content.vertical-center{
    vertical-align:middle;
  }

.hero__text-content.vertical-bottom{
    vertical-align:bottom;
  }

.overlaid-header .index-section--hero:first-child .hero__text-content.vertical-center{
  padding-top:50px
}

@media only screen and (min-width:769px){

.overlaid-header .index-section--hero:first-child .hero__text-content.vertical-center{
    padding-top:90px
}
  }

.hero[data-natural]{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.hero .slideshow__slide .hero__animation-contents{
    opacity:0;
    transform:translateY(10px);
    transition:none
  }

.no-js .hero .slideshow__slide .hero__animation-contents{
      opacity:1
  }

@media only screen and (max-width:768px){

.hero .slideshow__slide .hero__animation-contents{
      transform:translateY(7px)
  }
    }

.hero .slideshow__slide .hero__text-shadow:after{
    opacity:0;
  }

.hero .slideshow__slide:not(.animate-out) .hero__image_expanse{
    opacity:0;
    transition:none;
  }

.hero .slideshow__slide .hero__link .btn{
    opacity:0;
    transition:none
  }

.no-js .hero .slideshow__slide .hero__link .btn{
      opacity:1
  }

.hero .slideshow__slide .hero__image-wrapper{
    transform:scale(1.15);
    opacity:0;
    transition:none;
  }

.hero .slideshow__slide .hero__sidebyside{
    opacity:0;
    transition:none
  }

.no-js .hero .slideshow__slide .hero__sidebyside{
      opacity:1
  }

.hero .slideshow__slide .hero__sidebyside-image .hero__image_expanse{
    opacity:0;
    transform:scale(1.15);
    transition:none
  }

.no-js .hero .slideshow__slide .hero__sidebyside-image .hero__image_expanse{
      opacity:1
  }

.hero.loaded .slideshow__slide.is-selected .hero__animation-contents{
    opacity:1;
    transform:translateY(0px);
    transition:opacity 0.4s ease,transform 0.6s cubic-bezier(0.26, 0.54, 0.32, 1);
  }

.hero.loaded .slideshow__slide.is-selected .hero__text-shadow:after{
    opacity:1;
    transition:all 0.4s ease 0.2s;
  }

.hero.loaded .slideshow__slide.is-selected .hero__title .hero__animation-contents{
    transition-delay:0.2s;
  }

.hero.loaded .slideshow__slide.is-selected .hero__subtitle .hero__animation-contents{
    transition-delay:0.4s;
  }

.hero.loaded .slideshow__slide.is-selected .hero__link .btn{
    animation:fade-in 1s ease 0.6s forwards;
  }

.hero.loaded .slideshow__slide.is-selected .hero__link .btn:nth-child(2){
    animation:fade-in 1s ease 0.8s forwards;
  }

.hero.loaded .slideshow__slide.is-selected .hero__image--svg,.hero.loaded .slideshow__slide.is-selected .hero__image_expanse.lazyloaded,.hero.loaded .slideshow__slide.is-selected .hero__media{
    opacity:1;
    transition:none;
  }

.hero.loaded .slideshow__slide.is-selected .hero__image-wrapper{
    opacity:1;
    transform:scale(1);
    transition:transform 1s cubic-bezier(0.18, 0.63, 0.25, 1),opacity 0.7s ease;
  }

.hero.loaded .slideshow__slide.is-selected .hero__sidebyside{
    opacity:1;
    transition:opacity 0.7s ease;
  }

.hero.loaded .slideshow__slide.is-selected .hero__sidebyside-image .hero__image_expanse{
    opacity:1;
    transform:scale(1);
    animation:none;
    transition:transform 0.7s cubic-bezier(0.13, 0.55, 0.25, 1);
  }

.hero .slideshow__slide.animate-out .hero__animation-contents{
    opacity:0;
    transition:none;
  }

.hero .slideshow__slide.animate-out .hero__image-wrapper{
    opacity:0;
    transform:scale(1);
    transition:transform 0.5s ease-in 0.05s,opacity 0.5s ease-in 0.05s;
  }

.hero__sidebyside{
  height:100%;
  display:flex;
  background-color:{{ settings.color_body_bg | default: "#fff" }};
  background-color:var(--colorBody);
  color:{{ settings.color_body_text | default: "#1c1d1d" }};
  color:var(--colorTextBody);
}

.hero__sidebyside-content{
  position:relative;
}

.hero__sidebyside-content-inner{
  align-self:center;
  flex:1;
  padding:30px;
}

.hero__sidebyside-image{
  overflow:hidden;
}

.hero__sidebyside-image-link{
  display:block;
  height:100%;
}

.hero__sidebyside-image--indented .hero__image_expanse{
    padding:30px 30px 0;
    -o-object-fit:contain;
       object-fit:contain;
  }

.hero__sidebyside-image--indented .placeholder-svg{
    margin:30px 30px 0;
    height:calc(100% - 60px);
    width:calc(100% - 60px);
  }

@media only screen and (max-width:768px){
  .hero__sidebyside{
    flex-direction:column;
  }

  .hero__sidebyside-image{
    position:relative;
    flex:1 1 auto
  }

    .hero__sidebyside-image .hero__image_expanse,.hero__sidebyside-image .placeholder-svg{
      position:absolute;
      top:0;
      left:0;
    }

  .hero__sidebyside-content{
    flex:0 1 auto;
    display:flex;
    order:2;
  }
}

@media only screen and (min-width:769px){
  .hero__sidebyside-content{
    flex:1 1 auto;
    display:flex;
    max-width:40%;
  }

  .hero__sidebyside-content-inner{
    padding:5vw;
  }
    .hero__sidebyside-text--right .hero__sidebyside-content{
      order:2;
    }

  .hero__sidebyside-text--left .hero__sidebyside-content-inner--indented{
      padding-right:0
  }

  .hero__sidebyside-text--right .hero__sidebyside-content-inner--indented{
      padding-left:0
  }

  .hero__sidebyside-image{
    flex:0 1 60%;
  }
    .hero__sidebyside-image--indented .hero__image_expanse{
      padding:80px;
      -o-object-position:center right;
         object-position:center right;
    }

  .hero__sidebyside-text--right .hero__sidebyside-image--indented .hero__image_expanse{
    -o-object-position:center left;
       object-position:center left;
  }
}


@keyframes inventory-pulse{
  0%{
    opacity:0.5;
  }
  to{
    transform:scale(2.5);
    opacity:0;
  }
}

.icon--inventory:after,.icon--inventory:before{
    width:9px;
    height:9px;
    background:#54c63a;
    border-radius:9px;
    position:absolute;
    left:0;
    top:0;
    content:"";
    margin:8px;
  }

.icon--inventory:before{
    animation:inventory-pulse 2s linear infinite;
  }

.inventory--low .icon--inventory:after,.inventory--low .icon--inventory:before{
      background:#f4af29;
    }

.inventory--low{
  color:#f4af29;
}



[class*=color-scheme-]:not(.color-scheme-none){
  position:relative;
  z-index:1
}

[class*=color-scheme-]:not(.color-scheme-none) a:not(.btn){
    color:currentColor;
    border-color:currentColor;
  }

[class*=color-scheme-]:not(.color-scheme-none).index-section{
    margin:0;
    padding-top:30px;
    padding-bottom:30px;
  }
@media screen and (max-width: 767px) {    
  [class*=color-scheme-]:not(.color-scheme-none).index-section{
    margin:0;
    padding-top:0px;
    padding-bottom:5px;
  }
} 

.color-scheme-1{
  color:{{ settings.color_scheme_1_text | default: "#000" }};
  color:var(--colorScheme1Text);
  background-color:{{ settings.color_scheme_1_bg | default: "#fff" }};
  background-color:var(--colorScheme1Bg)
}

.color-scheme-1 .btn{
    color:{{ settings.color_scheme_1_bg | default: "#fff" }};
    color:var(--colorScheme1Bg);
    background-color:{{ settings.color_scheme_1_text | default: "#000" }};
    background-color:var(--colorScheme1Text);
  }

.color-scheme-2{
  color:{{ settings.color_scheme_2_text | default: "#000" }};
  color:var(--colorScheme2Text);
  background-color:{{ settings.color_scheme_2_bg | default: "#fff" }};
  background-color:var(--colorScheme2Bg)
}

.color-scheme-2 .btn{
    color:{{ settings.color_scheme_2_bg | default: "#fff" }};
    color:var(--colorScheme2Bg);
    background-color:{{ settings.color_scheme_2_text | default: "#000" }};
    background-color:var(--colorScheme2Text);
  }

.color-scheme-3{
  color:{{ settings.color_scheme_3_text | default: "#000" }};
  color:var(--colorScheme3Text);
  background-color:{{ settings.color_scheme_3_bg | default: "#fff" }};
  background-color:#d29896;
}

.color-scheme-3 .btn{
    color:{{ settings.color_scheme_3_bg | default: "#fff" }};
    color:var(--colorScheme3Bg);
    background-color:{{ settings.color_scheme_3_text | default: "#000" }};
    background-color:var(--colorScheme3Text);
  }

.scheme-darken,.scheme-image,.scheme-squiggle,.scheme-swirl{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
}

.scheme-image{
  -o-object-fit:cover;
     object-fit:cover;
  pointer-events:none;
  mix-blend-mode:multiply
}

.scheme-image[data-texture="space.jpg"]{
    mix-blend-mode:screen;
  }

[class*=color-scheme-]:not(.color-scheme-none) input,[class*=color-scheme-]:not(.color-scheme-none) textarea{
    color:{{ settings.color_body_text | default: "#1c1d1d" }};
    color:var(--colorTextBody);
    background-color:{{ settings.color_body_bg | default: "#fff" }};
    background-color:var(--colorBody);
  }

.scheme-darken{
  z-index:1;
  pointer-events:none
}

.scheme-darken:after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    background-color:rgba(0, 0, 0, 0.027);
    pointer-events:none;
  }

.scheme-swirl{
  background-image:url({{ "swirl.svg" | asset_url | split: '?' | first }});
  opacity:0.12;
}

.scheme-squiggle{
  background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='150' height='75' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4a6 6 0 01-6-6h2c0 2.21 1.79 4 4 4a6 6 0 016 6c0 2.21 1.79 4 4 4a6 6 0 016 6c0 2.21 1.79 4 4 4v2a6 6 0 01-6-6c0-2.21-1.79-4-4-4a6 6 0 01-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' fill='%23f04747' fill-opacity='.17' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.color-scheme-none.footer-promotion,.color-scheme-none.promo-grid__container{
  border:1px solid;
  border-color:{{ settings.color_borders | default: "#1c1d1d" }};
  border-color:var(--colorBorder);
}


@media only screen and (max-width:768px){
  .scrollable-grid--small{
    overflow:hidden;
    overflow-x:auto;
    flex-wrap:nowrap;
    justify-content:flex-start;
    margin:-10px -17px 0 0;
    padding:10px 17px 0 0
  }
  .page-width--flush-small .scrollable-grid--small{
      margin-left:0;
      margin-right:0;
      padding-left:17px
  }

    .scrollable-grid--small .grid-item{
      flex:0 0 45%;
    }
    .scrollable-grid--small[data-type=subcollections]{
      margin-left:-16px;
      margin-bottom:0;
      padding-bottom:10px
    }

      .scrollable-grid--small[data-type=subcollections] .grid-item{
        flex:0 0 30%;
      }
  [data-view*=scrollable]:after{
    content:"";
    display:block;
    height:1px;
    min-width:40px;
    min-width:var(--pageWidthPadding);
  }
}



.quote-icon{
  display:block;
  margin:0 auto 20px;
}

.testimonial-stars{
  display:block;
  font-size:16px;
  letter-spacing:0.2em;
  margin-bottom:10px
}

@media only screen and (min-width:769px){

.testimonial-stars{
    font-size:18px;
    margin-bottom:15px
}
  }

.testimonials-slide{
  display:none;
  opacity:0;
  padding:0 0 55px;
  width:33%
}

.testimonials-slide:first-child{
    display:block;
  }

.flickity-slider .testimonials-slide{
    display:block;
    opacity:1
}

.testimonials-slide .testimonials-slider__text{
    transform:scale(0.95);
    transition:transform 0.5s ease,box-shadow 0.5s ease;
  }

.testimonials-slide.is-selected .testimonials-slider__text{
    transform:scale(1.1);
    box-shadow:0 10px 25px rgba(0, 0, 0, 0.1);
    position:relative;
    z-index:10;
  }

@media only screen and (max-width:768px){
    .testimonials-slide{
      width:100%;
      padding:0 0 25px;
    }

    .testimonials-slide .testimonials-slider__text{
      transform:scale(0.86);
    }

    .testimonials-slide.is-selected .testimonials-slider__text{
      transform:scale(1);
    }
  }

.testimonials-slider__text{
  margin:0 30px;
  padding:30px 15px;
  background:#fff;
  color:#1c1d1d;
  margin-bottom:15px;
}

@media only screen and (min-width:769px){

  .testimonials-slider__text{
      margin:0;
      padding:30px;
      margin-bottom:0
  }
}

.testimonials-slider__text cite{
    font-style:normal;
    font-weight:700
  }

@media only screen and (min-width:769px){

.testimonials-slider__text cite{
      font-size:calc(var(--typeBaseSize) + 1px)
  }
}

.testimonials-slider__text p{
    margin-bottom:7.5px
  }

.testimonials-slider__text p+cite{
      margin-top:0;
    }

.testimonials__info{
  font-size:calc(var(--typeBaseSize) - 1px);
}

.testimonail-image{
  max-width:142px;
  background-color:{{ settings.color_body_bg | default: "#fff" }};
  background-color:var(--colorBody)
}

.text-center .testimonail-image{
    margin-left:auto;
    margin-right:auto
}

.testimonail-image .image-wrap{
    background:none;
  }

.testimonail-image--round{
  width:65px;
  height:65px;
  max-width:none;
  border-radius:65px
}

.testimonail-image--round img{
    overflow:hidden;
    border-radius:65px;
  }

.testimonials-section .flickity-page-dots{
  bottom:0;
}


.enlarge-text{
    font-size:18px;
}

@media only screen and (min-width:769px){

.enlarge-text{
    font-size:21px;
    font-weight: 500;
}
}    

.theme-block h2 {
  font-size: 31px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 35px;
}    

@media screen and (max-width: 549px) {
  .theme-block h2 {
    font-size: 25px;
    margin-top: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;    
  } 
}   
    
iframe,img{
  max-width:100%;
}

img[data-sizes=auto]{
   display:block;
   width: 100%;
}    

div#shopify-section-template--14436022255725__165596444376119457 {
    border-top: 1px solid;
    border-top-color: {{ settings.color_borders | default: "#1c1d1d"}};
    border-top-color: var(--colorBorder);
    margin-top: -131px;
}    
    
    
////////////////
.promo-grid--space-top{
  padding-top:60px;
  padding-top:var(--indexSectionPadding);
}

.promo-grid__container{
  display:flex;
  align-items:flex-start;
  position:relative;
  background-repeat:no-repeat;
  border-radius:var(--roundness);
  overflow:hidden
}

.promo-grid__container.horizontal-center{
    justify-content:center;
    text-align:center
  }

.promo-grid__container.horizontal-center .btn{
      margin:2px 5px;
    }

.promo-grid__container.horizontal-left .btn{
      margin-right:10px;
    }

.promo-grid__container.horizontal-right{
    justify-content:flex-end;
    text-align:right
  }

.promo-grid__container.horizontal-right .btn{
      margin-left:10px;
    }

.promo-grid__container .scheme-image{
    border-radius:calc(var(--roundness) + 2px);
  }

.promo-grid__slide-link{
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  z-index:5
}

.promo-grid__slide-link:hover~.promo-grid__content .btn:not(.btn--secondary):not(.btn--inverse){
      background:#2b2b2b;
      background:var(--colorBtnPrimaryLight);
      transition-delay:0.25s;
    }

.promo-grid__content{
  flex:0 1 auto;
   padding: 13em 1.5em;
   position: relative;
   min-width: 211px;
   z-index: 4;
}

.promo-grid__content p:last-child{
    margin-bottom:0;
  }

.vertical-top .promo-grid__content{
    align-self:flex-start
}

.vertical-center .promo-grid__content{
    align-self:center
}

@media screen and (max-width: 767px) {
  .vertical-center .promo-grid__content{
      align-self:center;
      margin-top: 134px;
  }
}  

.vertical-bottom .promo-grid__content{
    align-self:flex-end
}

.video-interactable .promo-grid__content{
  pointer-events:none;
}

.type-advanced .promo-grid__content:not(.promo-grid__content--sale) a,.type-simple .promo-grid__content:not(.promo-grid__content--sale) a{
    color:#fff;
    border-bottom:2px solid;
    border-bottom-color: #000;
    font-size: 18px;
    font-weight: 800;   
        
 }

[data-button_style=square] .type-advanced .promo-grid__content:not(.promo-grid__content--sale) a:not(.btn--inverse),[data-button_style=square] .type-simple .promo-grid__content:not(.promo-grid__content--sale) a:not(.btn--inverse),[data-button_style^=round] .type-advanced .promo-grid__content:not(.promo-grid__content--sale) a:not(.btn--inverse),[data-button_style^=round] .type-simple .promo-grid__content:not(.promo-grid__content--sale) a:not(.btn--inverse){
          border-bottom:0;
        }
  


.promo-grid__bg {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: left;
}
    

.promo-grid__container{
  display:flex;
  align-items:flex-start;
  position:relative;
  background-repeat:no-repeat;
  border-radius:var(--roundness);
  overflow:hidden
}

.promo-grid__container.horizontal-center{
    justify-content:center;
    text-align:center
  }

.promo-grid__container.horizontal-center .btn{
      margin:2px 5px;
    }

.promo-grid__container.horizontal-left .btn{
      margin-right:10px;
    }

.promo-grid__container.horizontal-right{
    justify-content:flex-end;
    text-align:right
  }

.promo-grid__container.horizontal-right .btn{
      margin-left:10px;
    }

.promo-grid__container .scheme-image{
    border-radius:calc(var(--roundness) + 2px);
  }

.promo-grid__slide-link{
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  z-index:5
}

.promo-grid__slide-link:hover~.promo-grid__content .btn:not(.btn--secondary):not(.btn--inverse){
      background:#2b2b2b;
      background:var(--colorBtnPrimaryLight);
      transition-delay:0.25s;
    }

.promo-grid__content{
  flex:0 1 auto;
  padding:2em 2.5em;
  position:relative;
  min-width:200px;
  z-index:4
}

.promo-grid__content p:last-child{
    margin-bottom:0;
  }

.vertical-top .promo-grid__content{
    align-self:flex-start
}

.vertical-center .promo-grid__content{
    align-self:center
}

.vertical-bottom .promo-grid__content{
    align-self:flex-end
}

.video-interactable .promo-grid__content{
  pointer-events:none;
}

.type-advanced .promo-grid__content:not(.promo-grid__content--sale) a,.type-simple .promo-grid__content:not(.promo-grid__content--sale) a{
      color:#000;
      border-bottom:2px solid;
      border-bottom-color:#000
    }

[data-button_style=square] .type-advanced .promo-grid__content:not(.promo-grid__content--sale) a:not(.btn--inverse),[data-button_style=square] .type-simple .promo-grid__content:not(.promo-grid__content--sale) a:not(.btn--inverse),[data-button_style^=round] .type-advanced .promo-grid__content:not(.promo-grid__content--sale) a:not(.btn--inverse),[data-button_style^=round] .type-simple .promo-grid__content:not(.promo-grid__content--sale) a:not(.btn--inverse){
          border-bottom:0;
        }
 
    

.type-advanced .promo-grid__content{
    flex:1 1 auto;
  }

@media only screen and (max-width:769px){
  enlarge-text{
   font-size: 21px;
   font-weight: 400;
}
    
}
.type-advanced .btn{
    margin-bottom:10px
  }

@media only screen and (max-width:768px){

.type-advanced .btn{
      margin-bottom:7px
  }
    }

.type-advanced .promo-grid__content:after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-1;
    margin:-100px -200px -100px -200px;
  }

.type-advanced .horizontal-center .rte--block{
  padding:1px 6% 5%;
}

.type-advanced .horizontal-left .rte--block{
  padding:0 20% 0 0;
}

.type-advanced .horizontal-right .rte--block{
  padding:0 0 0 20%;
}



.promo-grid__bg-image.lazyloaded{
    
    transition:none;
  }

.promo-grid__text{
  position:relative
}

.promo-grid__text .btn{
    margin-top:2px;
    margin-bottom:2px;
  }

@media only screen and (min-width:769px){
    .promo-grid>.flex-grid>.flex-grid__item--50 .enlarge-text{
      font-size:calc(var(--typeBaseSize) + 2px);
    }

    .promo-grid>.flex-grid>.flex-grid__item--50 .btn{
      padding:9px 16px;
      font-size:calc(var(--typeBaseSize) + 1px);
    }
}

    
    
.type-advanced .rte--strong,.type-product .rte--strong{
    font-size:1.8em;
    line-height:1.1;
  }

@media only screen and (min-width:769px){
    .type-advanced .rte--strong,.type-product .rte--strong{
      font-size:2.25em;
    }
      .type-product.flex-grid__item--33 .rte--strong,.type-product.flex-grid__item--50 .rte--strong{
        font-size:1.6em;
      }
}    
    

@media only screen and (min-width: 1140px){
.image-wrap {
    min-height: 500px;
}
}
@media only screen and (min-width: 769px){
.image-wrap {
    min-height: 400px;
}
}

    
.image-wrap {
	width: 100%;
	margin: 0px auto;
	position: relative;
}
    

@media only screen and (min-width: 1140px){
.image-wrap2 {
    min-height: 500px;
}
}
@media only screen and (min-width: 769px){
.image-wrap2 {
    min-height: 400px;
}
}

    
.image-wrap2 {
	width: 33.3%;
	margin: 0px auto;
	position: relative;
}    
.promo-grid__content1 {
    text-align: center;
    position: absolute;
    bottom: 10%;
    width: 100%;
}


.mobile.promo-grid.promo-grid--space-top.promo-grid--space-bottom {
    display: none;
}

.desktop.promo-grid.promo-grid--space-top.promo-grid--space-bottom {
    display: initial;
}
    
@media screen and (max-width: 767px) {    
  .desktop.promo-grid.promo-grid--space-top.promo-grid--space-bottom {
      display: none;
  }
 .mobile.promo-grid.promo-grid--space-top.promo-grid--space-bottom {
    display: initial;
 } 
}    
    
a.btn1 {
  font-size: 17px;
  font-weight: 700;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}    


.section--divider {
    border-top: 1px solid;
    border-top-color: #e8e8e1;
    padding-top: 40px;
}    
@media screen and (max-width: 767px) {
   .section--divider {
      border-top: 1px solid;
      border-top-color: #e8e8e1;
      padding-top: 35px;
  } 
}
    
 
@media only screen and (max-width:768px){
    .footer-promotions .grid__item{
      margin-bottom:32px
    }

      .footer-promotions .grid__item:last-child{
        margin-bottom:0;
      }
}

.footer-promotion{
  width:100%;
  text-align:center;
  padding:22px;
  border-radius:var(--roundness);
  overflow:hidden
}

@media only screen and (min-width:769px){

.footer-promotion{
    padding:30px
}
  }

.footer-promotion .scheme-image{
    border-radius:calc(var(--roundness) + 2px);
  }

.footer-promotion[class*=color-scheme-]:not(.color-scheme-none) .btn{
    border:0;
  }

.footer__grid-image{
  display:block;
  text-align:center;
  margin-bottom:17px
}

@media only screen and (min-width:769px){

.footer__grid-image{
    margin-bottom:20px
}
  }

.footer__grid-image img{
    display:block;
  }

.site-footer{
  font-size:calc(var(--typeBaseSize) - 1px);
  background-color:{{ settings.color_footer | default: "#111" }};
  background-color:var(--colorFooter);
  color:{{ settings.color_footer_text | default: "#fff" }};
  color:var(--colorFooterText)
}

.site-footer a{
    color:"#fff" ;
    color:var(--colorFooterText);
  }

.site-footer .faux-select{
    font-size:calc(var(--typeBaseSize) - 1px);
    min-width:120px;
  }

.footer__section{
  padding:30px 0;
  
  border-top-color:var(--colorBorder)
}

.site-footer .footer__section{
    border-top-color:var(--colorFooterBorder)
}

@media only screen and (min-width:769px){
  .footer__section--menus{
    padding-top:50px;
  }
}

@media only screen and (max-width:768px){
  .footer__mobile-section{
    margin-top:20px;    
    padding:20px 40px 0;
    padding:20px var(--pageWidthPadding) 0;
    
  }
}

.footer__title{
  margin-bottom:15px;
  font-weight:700;
  font-size:var(--typeBaseSize);
  color:white;
}

.footer__subscribe{
  font-weight:700;
  font-size:calc(var(--typeBaseSize) + 2px);
}

.footer__menu{
  margin:0 0 20px;
  padding:0;
  list-style:none;
  color:#C2B8B3;
}

@media only screen and (max-width:768px){

.footer__menu{
    margin-bottom:0
}
  }

.footer__menu li{
    margin:0;
  }

.footer__menu a{
    display:inline-block;
    padding:4px 0;
  }

.footer__menu .icon{
    margin-right:10px
  }

[dir=rtl] .footer__menu .icon{
      margin-right:0;
      margin-left:10px
  }

.footer__menu--underline a{
  text-decoration:underline;
  text-underline-offset:2px;
}

.footer__newsletter{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:0 20px
}

.footer__newsletter>*{
    padding:0 20px;
  }

.footer__newsletter .newsletter__input-group{
    margin-bottom:0;
  }

@media only screen and (max-width:768px){

.footer__newsletter{
    flex-wrap:wrap;
    text-align:center;
    justify-content:center
}

    .footer__newsletter>*{
      padding:0;
    }

    .footer__newsletter .newsletter__input-group{
      max-width:none
    }

      .footer__newsletter .newsletter__input-group .btn{
        min-width:auto;
      }

    .footer__newsletter form{
      width:100%;
      margin:0px auto 0;
    }
  }

.footer__blocks{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.footer__block{
  flex:0 1 25%;
  max-width:210px;
}

@media only screen and (max-width:768px){
  .footer__blocks--mobile{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
  }

  .footer__block,.footer__block--mobile{
    max-width:none;
    flex:1 1 50%;
  }

  .footer__block[data-type=contact],.footer__block[data-type=payment]{
    flex:1 0 100%;
  }
}

.footer__social{
  margin:0
}

form+.footer__social{
    margin-top:30px
}

.footer__social li{
    display:inline-block;
    margin:0 15px 15px 0;
  }

.footer__social a{
    display:block;
  }

.footer__social .icon{
    width:21px;
    height:21px
  }

.footer__social .icon.icon--wide{
      width:40px;
    }

.payment-icons{
  -webkit-user-select:none;
          user-select:none;
  cursor:default;
  margin-bottom:20px
}

@media only screen and (max-width:768px){

.payment-icons{
    margin-bottom:0
}
  }

.payment-icons li{
    cursor:default;
    margin:0 8px 4px 0;
  }

.footer__base-links{
  font-size:13px
}

.footer__base-links a,.footer__base-links span{
    display:inline-block;
    padding:2px 20px 2px 0;
  }

.footer__base-links a{
    text-decoration:underline;
    text-underline-offset:2px;
  }
    
    

.inline-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

span.icon__fallback-text {
    display: none;
}
    

.template-challange .index-section--footer{
  display:none;
}

.testimonials-section{
  padding:60px 0;
}
@media screen and (max-width: 767px) {
   .testimonials-section{
    padding:40px 0;
  }
}

.page-blocks--flush .page-width{
  padding:0;
}

.page-blocks>div:first-child .index-section{
    margin-top:0;
  }
    
    

.grid:after{content:"";display:table;clear:both;}

.grid{
  list-style:none;
  margin:0;
  padding:0;
  margin-left:-22px
}

@media only screen and (max-width:768px){

.grid{
    margin-left:-16px
}

html[dir=rtl] .grid{
      margin-left:0;
      margin-right:-16px
}
  }

html[dir=rtl] .grid{
    margin-left:0;
    margin-right:-22px
}

.grid--small{
  margin-left:-10px
}

.grid--small .grid__item{
    padding-left:10px;
  }

.grid__item{
  float:left;
  padding-left:22px;
  width:100%;
  min-height:1px
}

@media only screen and (max-width:768px){

.grid__item{

}
  


html[dir=rtl] .grid__item{
      padding-left:0;
      padding-right:16px
}
  }

html[dir=rtl] .grid__item{
    float:right;
    padding-left:0;
    padding-right:22px
}

.grid--no-gutters{
  margin-left:0
}

.grid--no-gutters .grid__item{
    padding-left:0;
  }

html[dir=rtl] .grid--no-gutters{
    margin-right:0
}

html[dir=rtl] .grid--no-gutters .grid__item{
      padding-right:0;
    }

.grid--flush-bottom{
  margin-bottom:-22px;
  overflow:auto
}

.grid--flush-bottom>.grid__item{
    margin-bottom:22px;
  }
    
@media screen and (max-width: 767px) {    
  .grid--flush-bottom {

    overflow: auto;
    margin-left: 11px;
  }
  
 .grid--flush-bottom>.grid__item{
    margin-bottom: 25px;
    max-width: 50%;
    padding: 0 calc(var(--gutter) / 2) 0 0;
    position: static!important;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
}

.grid--center{
  text-align:center
}

.grid--center .grid__item{
    float:none;
    display:inline-block;
    vertical-align:top;
    text-align:left
  }

html[dir=rtl] .grid--center .grid__item{
      text-align:right
  }

.grid--full{
  margin-left:0
}

.grid--full>.grid__item{
    padding-left:0;
  }

@media only screen and (min-width:769px){
  .grid--table-large{
    display:table;
    width:100%;
    table-layout:fixed
  }

    .grid--table-large>.grid__item{
      display:table-cell;
      vertical-align:middle;
      float:none;
    }
}

.new-grid{
  display:flex;
  flex-wrap:wrap;
  margin-left:-10px;
  margin-right:-10px;
  word-break:break-word;
}

.new-grid--center{
  justify-content:center;
}

.grid-item{
  flex:0 0 100%;
  align-items:stretch;
  display:flex;
  margin-bottom:10px;
  padding-left:10px;
  padding-right:10px
}

[data-view=scrollable] .grid-item{
    flex:0 0 16.66667%;
    max-width:250px
}

[data-view=scrollable-7] .grid-item{
    flex:0 0 14.28571%
}

[data-view=scrollable-5] .grid-item{
    flex:0 0 20%
}

[data-view=xsmall] .grid-item{
    flex:0 0 20%
}

[data-view=small] .grid-item{
    flex:0 0 25%
}

[data-view=medium] .grid-item{
    flex:0 0 33.33333%
}

[data-view=large] .grid-item{
    flex:0 0 50%
}

[data-view="6-3"] .grid-item{
    flex:0 0 16.66667%
}

[data-view="6-2"] .grid-item{
    flex:0 0 16.66667%
}

[data-view="3-1"] .grid-item{
    flex:0 0 33.33333%
}

@media only screen and (max-width:768px){

[data-view=xsmall] .grid-item{
      flex:0 0 50%
}

[data-view=small] .grid-item{
      flex:0 0 50%
}

[data-view=medium] .grid-item{
      flex:0 0 100%
}

[data-view=large] .grid-item{
      flex:0 0 100%
}

[data-view=subcollections] .grid-item{
      flex:0 0 28%
}

[data-view="6-3"] .grid-item{
      flex:0 0 33.33333%
}

[data-view="6-2"] .grid-item{
      flex:0 0 50%
}

[data-view="3-1"] .grid-item{
      flex:0 0 100%
}
  }

.grid-item__content{
  position:relative;
  display:flex;
  flex-direction:column;
  text-align:left;
  width:100%;
  background-color:{{ settings.color_body_bg | default: "#fff" }};
  background-color:var(--colorBody)
}

html[dir=rtl] .grid-item__content{
    text-align:right
}

.grid-item__link{
  display:block;
  width:100%
}

[data-grid-style=grey-round] .grid-item__link{
    overflow:hidden;
    border-radius:10px 10px 0 0
}

[data-grid-style=grey-round] [data-view=list] .grid-item__link{
    border-radius:10px 0 0 10px
}

.grid-item__meta{
  margin:12px
}

@media only screen and (min-width:769px){

.grid-item__meta{
    margin:20px
}
  }
    

@media only screen and (max-width:768px){.small--one-whole{width:100%;}.small--one-half{width:50%;}.small--one-third{width:33.33333%;}.small--two-thirds{width:66.66667%;}.grid--uniform .small--one-half:nth-of-type(odd),.grid--uniform .small--one-third:nth-of-type(3n+1){clear:both;}.small--one-quarter{width:25%;}.small--two-quarters{width:50%;}.small--three-quarters{width:75%;}.grid--uniform .small--one-quarter:nth-of-type(4n+1){clear:both;}.small--one-fifth{width:20%;}.small--two-fifths{width:40%;}.small--three-fifths{width:60%;}.small--four-fifths{width:80%;}.grid--uniform .small--one-fifth:nth-of-type(5n+1){clear:both;}.small--one-sixth{width:16.66667%;}.small--two-sixths{width:33.33333%;}.small--three-sixths{width:50%;}.small--four-sixths{width:66.66667%;}.small--five-sixths{width:83.33333%;}.grid--uniform .small--one-sixth:nth-of-type(6n+1),.grid--uniform .small--three-sixths:nth-of-type(odd),.grid--uniform .small--two-sixths:nth-of-type(3n+1){clear:both;}}

@media only screen and (min-width:769px){.medium-up--one-whole{width:100%;}.medium-up--one-half{width:50%;}.medium-up--one-third{width:33.33333%;}.medium-up--two-thirds{width:66.66667%;}.grid--uniform .medium-up--one-half:nth-of-type(odd),.grid--uniform .medium-up--one-third:nth-of-type(3n+1){clear:both;}.medium-up--one-quarter{width:25%;}.medium-up--two-quarters{width:50%;}.medium-up--three-quarters{width:75%;}.grid--uniform .medium-up--one-quarter:nth-of-type(4n+1){clear:both;}.medium-up--one-fifth{width:20%;}.medium-up--two-fifths{width:40%;}.medium-up--three-fifths{width:60%;}.medium-up--four-fifths{width:80%;}.grid--uniform .medium-up--one-fifth:nth-of-type(5n+1){clear:both;}.medium-up--one-sixth{width:16.66667%;}.medium-up--two-sixths{width:33.33333%;}.medium-up--three-sixths{width:50%;}.medium-up--four-sixths{width:66.66667%;}.medium-up--five-sixths{width:83.33333%;}.grid--uniform .medium-up--one-sixth:nth-of-type(6n+1),.grid--uniform .medium-up--three-sixths:nth-of-type(odd),.grid--uniform .medium-up--two-sixths:nth-of-type(3n+1){clear:both;}}

    
    
    
.rte:after{content:"";display:table;clear:both;}

.rte{
  margin-bottom:7.5px
}

@media only screen and (min-width:769px){

.rte{
    margin-bottom:15px
}
  }

.rte:last-child{
    margin-bottom:0;
  }

.rte+.rte{
    margin-top:30px;
  }

.rte ol,.rte p,.rte table,.rte ul{
    margin-bottom:15px
  }

@media only screen and (min-width:769px){

.rte ol,.rte p,.rte table,.rte ul{
      margin-bottom:25px
  }
    }

.rte ol:last-child,.rte p:last-child,.rte table:last-child,.rte ul:last-child{
      margin-bottom:0;
    }

.rte ul ul{
      margin-bottom:0;
    }

.rte h1,.rte h2,.rte h3,.rte h4,.rte h5,.rte h6{
    margin-top:60px;
    margin-bottom:25px;
  }

.rte h1:first-child,.rte h2:first-child,.rte h3:first-child,.rte h4:first-child,.rte h5:first-child,.rte h6:first-child{
      margin-top:0;
    }

.rte h1 a,.rte h2 a,.rte h3 a,.rte h4 a,.rte h5 a,.rte h6 a{
      text-decoration:none;
    }

.rte meta:first-child+h1,.rte meta:first-child+h2,.rte meta:first-child+h3,.rte meta:first-child+h4,.rte meta:first-child+h5,.rte meta:first-child+h6{
      margin-top:0;
    }

.rte>div{
    margin-bottom:15px
  }

.rte>div:last-child{
      margin-bottom:0;
    }

.rte li{
    margin-bottom:0;
  }

.rte table{
    table-layout:fixed;
  }

.rte--block{
  margin-bottom:8px
}

@media only screen and (min-width:769px){

.rte--block{
    margin-bottom:12px
}
  }

.rte-setting>p:last-child{
    margin-bottom:0;
  }

.rte-setting a,.rte a{
    text-decoration:none;
  }

.rte-setting img,.rte img{
    height:auto;
  }

.rte-setting a:not(.rte__image):not(.btn):not(.spr-summary-actions-newreview),.rte a:not(.rte__image):not(.btn):not(.spr-summary-actions-newreview){
    text-decoration:underline;
    text-underline-offset:2px;
  }

.rte-setting a.rte__image:after,.rte a.rte__image:after{
    content:none;
  }

.text-center.rte ol,.text-center .rte ol,.text-center.rte ul,.text-center .rte ul{
    list-style-position:inside;
    margin-left:0;
  }

.rte--nomargin{
  margin-bottom:0;
}

@media screen and (max-width: 767px) {
  .flex-grid__item.flex-grid__item--33{
   margin: 0px 20px 0px 20px;
  }
}    
    