<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
<style>
.main-content>.page-header { display: none; }
  .bundle-set-collection-banner-section .bundle-set-collection-container.container .bundle-set-collection-row .bundle-set-collection-col img { max-height: 850px; width: 100%; object-fit: cover; }
  .bundle-set-collection-container.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; margin-top:10px; }

   @media not all and (max-width: 768px){
    .bundle-set-collection-container.container.BundleSet { padding-right: 15px; padding-left: 15px; max-width: 1267px; margin-bottom: 50px;margin-top: -5px;}  
    .bundle-set-collection-container.container.BundleSet-Mobile {display:none;}
   }
  
   @media all and (max-width: 768px){
    .bundle-set-collection-container.container.BundleSet { display:none;}
    .bundle-set-collection-container.container.BundleSet-Mobile {margin-top: 5px;margin-bottom: 25px; width: 95%;}
   }


  
  .bundle-set-collection-row.row { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;  }
  section.bundle-set-collection-section.bundle-set-collection-two-col-img-sec.section.shopify-section { padding: 70px 0px; }
  .rows-of-2 .col-md-6 { width: 50%; float: left; padding-left: 50px; padding-right: 50px; }
  .bundle-set-collection-two-col-img-sec .row .col-md-6 .img-div1 { float: right; }
  .bundle-set-collection-two-col-img-sec .row .col-md-6:first-child p { text-align: right; float: right; margin-bottom: 0;}
  .bundle-set-collection-two-col-img-sec .row .col-md-6 .img-div:last-child { float: left; }
  .bundle-set-collection-two-col-img-sec .row .col-md-6 .img-div img { max-height: 544px; object-fit: contain; width: 100%; }
  p.top-short-description-txt.bundle-set-collection-font1 {text-align: center;color: #4C3935;font-size: 21px;line-height: 1.8em;font-family:'Quicksand', sans-serif; }
  p.top-short-description-txt.bundle-set-collection-font2 {text-align: center;color: #AFB091;font-size: 21px;line-height: 1.8em;font-family:'Quicksand', sans-serif; }

  section.bundle-set-collection-sixth-section.shopify-section { padding: 0px 0px 30px 0px; }
    p.for-desktop-devices{ display:none; margin-bottom: 0;}
    p.for-mobile-devices{ display:none; margin-bottom: 0;}
	@media screen and (max-width: 1200px){
    .bundle-set-collection-two-col-img-sec .row .col-md-6:first-child p { margin-top: 30%; }
    .bundle-set-collection-two-col-img-sec .row .col-md-6:last-child p { }
   }
  @media screen and (max-width: 1024px){
  	.bundle-set-collection-two-col-img-sec .row .col-md-6:first-child p { }
    .bundle-set-collection-two-col-img-sec .row .col-md-6:last-child p { }
     p.top-short-description-txt.bundle-set-collection-font1 {text-align: center;color: #4C3935;font-size: 17px;line-height: 1.8em;font-family:'Quicksand', sans-serif; }
     p.top-short-description-txt.bundle-set-collection-font2 {text-align: center;color: #AFB091;font-size: 17px;line-height: 1.8em;font-family:'Quicksand', sans-serif; }
      section.bundle-set-collection-sixth-section.shopify-section {
      padding: 0px 0px 40px 0px;
    }

  }
  @media screen and (max-width: 900px){
  	.bundle-set-collection-two-col-img-sec .row .col-md-6:first-child p { margin-top: 45%; }
    .bundle-set-collection-two-col-img-sec .row .col-md-6:last-child p { }
     section.bundle-set-collection-sixth-section.shopify-section {
      padding: 0px 0px 40px 0px;
    }
  }
  @media screen and (max-width: 768px){
    .top-short-description-txt br{ display:none; }
    p.for-desktop-devices{ display:none; }
    p.for-mobile-devices{ display:block; }
    .bundle-set-collection-two-col-img-sec .row .col-md-6 .sign-img-div { text-align: center; }
    .rows-of-2 .col-md-6{ width: 100%; padding: inherit;}
    .bundle-set-collection-two-col-img-sec .row .col-md-6 .img-div1,.bundle-set-collection-two-col-img-sec .row .col-md-6 .img-div:last-child{ float: none; }
  	.bundle-set-collection-two-col-img-sec .row .col-md-6:first-child p { float: none; text-align:center; margin-top: 0%; margin-bottom: 3%;}
    .bundle-set-collection-two-col-img-sec .row .col-md-6:last-child p { float: none; text-align:center; }
     section.bundle-set-collection-sixth-section.shopify-section {
      padding: 0px 0px 40px 0px;
    }
    .collection-grid__row.collection-grid__row--grid {
        margin-bottom: -6%;
    }

    .container-padd60-bundle-set-collection {
      margin: 0 auto;
      max-width: 573px;
    }
  }
  @media screen and (max-width: 600px){
  	.bundle-set-collection-two-col-img-sec .row .col-md-6:first-child p { }
    .bundle-set-collection-two-col-img-sec .row .col-md-6:last-child p { }
     section.bundle-set-collection-sixth-section.shopify-section {
      padding: 0px 0px 30px 0px;
     }
    .collection-grid__row.collection-grid__row--grid {
        margin-bottom: -8%;
    }
    .container-padd60-bundle-set-collection {
      margin: 0 auto;
      max-width: 500px;
    }
  }
  @media screen and (max-width: 480px){
  	.bundle-set-collection-two-col-img-sec .row .col-md-6:first-child p { }
    .bundle-set-collection-two-col-img-sec .row .col-md-6:last-child p { }
     section.bundle-set-collection-sixth-section.shopify-section {
      padding: 0px 0px 30px 0px;
     }
    .collection-grid__row.collection-grid__row--grid {
        margin-bottom: -8%;
    }
    .container-padd60-bundle-set-collection {
      margin: 0 auto;
      max-width: 300px;
    }
  }
  @media screen and (max-width: 320px){
  	.bundle-set-collection-two-col-img-sec .row .col-md-6:first-child p { }
    .bundle-set-collection-two-col-img-sec .row .col-md-6:last-child p { }
     section.bundle-set-collection-sixth-section.shopify-section {
      padding: 0px 0px 30px 0px;
     }
    .collection-grid__row.collection-grid__row--grid {
        margin-bottom: -8%;
    }

    .container-padd60-bundle-set-collection {
      margin: 0 auto;
      max-width: 300px;
    }
  }
  @media screen and (min-width: 769px){
    p.for-desktop-devices{ display:block; }
    p.for-mobile-devices{ display:none; }
  @media screen and (min-width: 1170px){
    .bundle-set-collection-two-col-img-sec .row .col-md-6:first-child p { max-width: 85%; margin-top: 165px; }
    .bundle-set-collection-two-col-img-sec .row .col-md-6:last-child p { max-width: 85%; margin-bottom: 60px; }
  }
  
  @media screen and (min-width: 1200px){
    .bundle-set-collection-two-col-img-sec .row .col-md-6:first-child p { max-width: 80%; margin-top: 175px; }
    .bundle-set-collection-two-col-img-sec .row .col-md-6:last-child p { max-width: 80%; margin-bottom: 60px; }
  }
  
  @media screen and (min-width: 1400px){
    .bundle-set-collection-two-col-img-sec .row .col-md-6:first-child p { max-width: 68%; }
    .bundle-set-collection-two-col-img-sec .row .col-md-6:last-child p { max-width: 68%; margin-bottom: 60px; }
  }

  @media screen and (min-width: 768px) {  
    .container-padd60-bundle-set-collection{
      margin: 0 auto;
      max-width: 950px;
    }
  }
    



</style>


<section class="bundle-set-collection-banner-section shopify-section">
  <div class="bundle-set-collection-container container BundleSet">
    <div class="bundle-set-collection-row">
      <div class="bundle-set-collection-col">
      	<img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Web-page-banner-with-text.jpg?v=1665075270" alt="Bundle Set Collection">
      </div>
    </div>
  </div>
  <div class="bundle-set-collection-container container BundleSet-Mobile">
    <div class="bundle-set-collection-row">
      <div class="bundle-set-collection-col">
      	<img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Mobile-page-banner-with-text.jpg?v=1665075285" alt="Bundle Set Collection">
      </div>
    </div>
  </div>
  
</section>

{% render 'bundle-set-collection-all-row-products' %}

  
  

