<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
<style>

.product-block__image:hover .product-block__image-hover,
.product-block__image:hover .product-block__image-inner {
    opacity: 1;
    visibility: visible;
    will-change: transform;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease, visibility 0s linear 0s;
  }
  .product-block__image:hover .product-block__image-hover {
    
  }
}

.touch .product-block__image-hover,
.touch .product-block__image-inner,
.touch .quickView-button {
  display: none;
}

.main-content>.page-header { display: none; }
  .crystal-set-collection-banner-section .crystal-set-collection-container.container .crystal-set-collection-row .crystal-set-collection-col img { max-height: 850px; width: 100%; object-fit: cover; }
  .crystal-set-collection-container.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; /*margin-top:10px;*/ }

   @media not all and (max-width: 768px){
    .crystal-set-collection-container.container.Emerald { padding-right: 15px; padding-left: 15px; max-width: 1267px; margin-bottom: 50px;margin-top: -5px;}  
    .crystal-set-collection-container.container.Emerald-Mobile {display:none;}
    .crystal-set-collection-container.container.Crystal { padding-right: 15px; padding-left: 15px; max-width: 1267px; margin-bottom: 50px;margin-top: -5px;}  

    .crystal-set-collection-container.container.Opal { padding-right: 15px; padding-left: 15px; max-width: 1267px; margin-bottom: 50px;margin-top: -5px;}  
    .crystal-set-collection-container.container.Opal-Mobile {display:none;}

   }
  
   @media all and (max-width: 768px){
    .crystal-set-collection-container.container.Emerald { display:none;}
    .crystal-set-collection-container.container.Emerald-Mobile {margin-top: 5px;margin-bottom: 25px; width: 95%;}
    .crystal-set-collection-container.container.Crystal-Mobile {margin-top: 5px;margin-bottom: 25px; width: 95%;}
    .crystal-set-collection-container.container.Opal { display:none;}
    .crystal-set-collection-container.container.Opal-Mobile {margin-top: 5px;margin-bottom: 25px; width: 95%;}

   }

  @media(min-width: 768px){
    .crystal-set-collection-top-short-description-section{
      height: 103px;
    }
    .mg-23 {
      margin-bottom: -23px !important;
    }
    .button--light {
      padding: 16px 69px;
    }
  }


  
  .crystal-set-collection-row.row { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;  }
  section.crystal-set-collection-section.crystal-set-collection-two-col-img-sec.section.shopify-section { padding: 70px 0px; }
  .rows-of-2 .col-md-6 { width: 50%; float: left; padding-left: 50px; padding-right: 50px; }
  .crystal-set-collection-two-col-img-sec .row .col-md-6 .img-div1 { float: right; }
  .crystal-set-collection-two-col-img-sec .row .col-md-6:first-child p { text-align: right; float: right; margin-bottom: 0;}
  .crystal-set-collection-two-col-img-sec .row .col-md-6 .img-div:last-child { float: left; }
  .crystal-set-collection-two-col-img-sec .row .col-md-6 .img-div img { max-height: 544px; object-fit: contain; width: 100%; }
  p.top-short-description-txt.crystal-set-collection-font1 {text-align: center;color: #4C3935;font-size: 21px;line-height: 1.8em;font-family:'Quicksand', sans-serif; }
  p.top-short-description-txt.crystal-set-collection-font2 {text-align: center;color: #AFB091;font-size: 21px;line-height: 1.8em;font-family:'Quicksand', sans-serif; }

  section.crystal-set-collection-sixth-section.shopify-section { padding: 0px 0px 30px 0px; }
    p.for-desktop-devices{ display:none; margin-bottom: 0;}
    p.for-mobile-devices{ display:none; margin-bottom: 0;}
	@media screen and (max-width: 1200px){
    .crystal-set-collection-two-col-img-sec .row .col-md-6:first-child p { margin-top: 30%; }
    .crystal-set-collection-two-col-img-sec .row .col-md-6:last-child p { }
   }
  @media screen and (max-width: 1024px){
  	.crystal-set-collection-two-col-img-sec .row .col-md-6:first-child p { }
    .crystal-set-collection-two-col-img-sec .row .col-md-6:last-child p { }
     p.top-short-description-txt.crystal-set-collection-font1 {text-align: center;color: #4C3935;font-size: 17px;line-height: 1.8em;font-family:'Quicksand', sans-serif; }
     p.top-short-description-txt.crystal-set-collection-font2 {text-align: center;color: #AFB091;font-size: 17px;line-height: 1.8em;font-family:'Quicksand', sans-serif; }
      section.crystal-set-collection-sixth-section.shopify-section {
      padding: 0px 0px 40px 0px;
    }

  }
  @media screen and (max-width: 900px){
  	.crystal-set-collection-two-col-img-sec .row .col-md-6:first-child p { margin-top: 45%; }
    .crystal-set-collection-two-col-img-sec .row .col-md-6:last-child p { }
     section.crystal-set-collection-sixth-section.shopify-section {
      padding: 0px 0px 40px 0px;
    }
  }
  @media screen and (max-width: 768px){
    .top-short-description-txt br{ display:none; }
    p.for-desktop-devices{ display:none; }
    p.for-mobile-devices{ display:block; }
    .crystal-set-collection-two-col-img-sec .row .col-md-6 .sign-img-div { text-align: center; }
    .rows-of-2 .col-md-6{ width: 100%; padding: inherit;}
    .crystal-set-collection-two-col-img-sec .row .col-md-6 .img-div1,.crystal-set-collection-two-col-img-sec .row .col-md-6 .img-div:last-child{ float: none; }
  	.crystal-set-collection-two-col-img-sec .row .col-md-6:first-child p { float: none; text-align:center; margin-top: 0%; margin-bottom: 3%;}
    .crystal-set-collection-two-col-img-sec .row .col-md-6:last-child p { float: none; text-align:center; }
     section.crystal-set-collection-sixth-section.shopify-section {
      padding: 0px 0px 40px 0px;
    }
    .collection-grid__row.collection-grid__row--grid {
        margin-bottom: -6%;
    }

    .container-padd60-crystal-set-collection {
      margin: 0 auto;
      max-width: 573px;
    }
  }
  @media screen and (max-width: 600px){
  	.crystal-set-collection-two-col-img-sec .row .col-md-6:first-child p { }
    .crystal-set-collection-two-col-img-sec .row .col-md-6:last-child p { }
     section.crystal-set-collection-sixth-section.shopify-section {
      padding: 0px 0px 30px 0px;
     }
    .collection-grid__row.collection-grid__row--grid {
        margin-bottom: -8%;
    }
    .container-padd60-crystal-set-collection {
      margin: 0 auto;
      max-width: 500px;
    }
  }
  @media screen and (max-width: 480px){
  	.crystal-set-collection-two-col-img-sec .row .col-md-6:first-child p { }
    .crystal-set-collection-two-col-img-sec .row .col-md-6:last-child p { }
     section.crystal-set-collection-sixth-section.shopify-section {
      padding: 0px 0px 30px 0px;
     }
    .collection-grid__row.collection-grid__row--grid {
        margin-bottom: -8%;
    }
    .container-padd60-crystal-set-collection {
      margin: 0 auto;
      max-width: 300px;
    }
  }
  @media screen and (max-width: 320px){
  	.crystal-set-collection-two-col-img-sec .row .col-md-6:first-child p { }
    .crystal-set-collection-two-col-img-sec .row .col-md-6:last-child p { }
     section.crystal-set-collection-sixth-section.shopify-section {
      padding: 0px 0px 30px 0px;
     }
    .collection-grid__row.collection-grid__row--grid {
        margin-bottom: -8%;
    }

    .container-padd60-crystal-set-collection {
      margin: 0 auto;
      max-width: 300px;
    }
  }
  @media screen and (min-width: 769px){
    p.for-desktop-devices{ display:block; }
    p.for-mobile-devices{ display:none; }
  @media screen and (min-width: 1170px){
    .crystal-set-collection-two-col-img-sec .row .col-md-6:first-child p { max-width: 85%; margin-top: 165px; }
    .crystal-set-collection-two-col-img-sec .row .col-md-6:last-child p { max-width: 85%; margin-bottom: 60px; }
  }
  
  @media screen and (min-width: 1200px){
    .crystal-set-collection-two-col-img-sec .row .col-md-6:first-child p { max-width: 80%; margin-top: 175px; }
    .crystal-set-collection-two-col-img-sec .row .col-md-6:last-child p { max-width: 80%; margin-bottom: 60px; }
  }
  
  @media screen and (min-width: 1400px){
    .crystal-set-collection-two-col-img-sec .row .col-md-6:first-child p { max-width: 68%; }
    .crystal-set-collection-two-col-img-sec .row .col-md-6:last-child p { max-width: 68%; margin-bottom: 60px; }
  }

  @media screen and (min-width: 768px) {  
    .container-padd60-crystal-set-collection{
      margin: 0 auto;
      max-width: 950px;
    }
  }
    



</style>
<section class="crystal-set-collection-banner-section shopify-section " onclick="location.href='/collections/ny-sale-all'">
  <div class="crystal-set-collection-container container n-years-mb-display">
    <div class="crystal-set-collection-row">
      <div class="crystal-set-collection-col">
        <picture alt="New Years Set">
          <source media="(min-width:600px)" srcset="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Frame_4_620ae982-2c51-4a0b-842a-93305a060a26.jpg?v=1671929022">
          <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Frame_7_2.jpg?v=1672368133" alt="New Years Set">
        </picture>
      </div>
    </div>
  </div>
</section>

<section class="crystal-set-collection-top-short-description-section shopify-section">
  <div class="crystal-set-collection-container container">
  	<div class="crystal-set-collection-row row">
      <div class="crystal-set-collection-col col-md-12 align-center" style="width: 100%;margin-top: 10px;margin-bottom: 30px;">
        <!--<p class="top-short-description-txt crystal-set-collection-font1">This season, we're taking it back to the basics. We've curated all the essentials you need to build the perfect jewelry wardrobe.<br>These pieces are a necessity in every jewelry collection, whether you're in love with statement pieces for a bolder look or prefer to keep it minimal.</p>-->
      </div>
    </div>
  </div>
</section>

<section class="crystal-set-collection-banner-section shopify-section " style="cursor:pointer" >
  <div class="crystal-set-collection-container container n-years-mb-display">
    <div class="crystal-set-collection-row">
      <div class="crystal-set-collection-col">
        <picture alt="New Years Set">
          <source media="(min-width:600px)" srcset="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Frame_7.jpg?v=1671929021">
          <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Frame_3_19a6c26e-490f-4bd5-8f11-3098b1108770.jpg?v=1672368450" alt="New Years Set">
        </picture>
      </div>
    </div>
  </div>
</section>

<section class="crystal-set-collection-top-short-description-section shopify-section">
  <div class="crystal-set-collection-container container">
  	<div class="crystal-set-collection-row row">
      <div class="crystal-set-collection-col col-md-12 align-center" style="width: 100%;margin-top: 10px;margin-bottom: 30px;">
        <!--<p class="top-short-description-txt crystal-set-collection-font1">This season, we're taking it back to the basics. We've curated all the essentials you need to build the perfect jewelry wardrobe.<br>These pieces are a necessity in every jewelry collection, whether you're in love with statement pieces for a bolder look or prefer to keep it minimal.</p>-->
      </div>
    </div>
  </div>
</section>

{% render 'new-years-collection-row-products' %}

<section class="crystal-set-collection-top-short-description-section shopify-section">
  <div class="crystal-set-collection-container container">
  	<div class="crystal-set-collection-row row">
      <div class="crystal-set-collection-col col-md-12 align-center" style="width: 100%;margin-top: 10px;margin-bottom: 30px;">
        <!--<p class="top-short-description-txt crystal-set-collection-font1">This season, we're taking it back to the basics. We've curated all the essentials you need to build the perfect jewelry wardrobe.<br>These pieces are a necessity in every jewelry collection, whether you're in love with statement pieces for a bolder look or prefer to keep it minimal.</p>-->
      </div>
    </div>
  </div>
</section>


<section class="crystal-set-collection-banner-section shopify-section">
  <div class="crystal-set-collection-container container n-years-mb-display">
    <div class="crystal-set-collection-row">
      <div class="crystal-set-collection-col">
        <picture alt="New Years Set">
          <source media="(min-width:600px)" srcset="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Frame_8.jpg?v=1671929289">
          <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Frame_5_081c804c-5885-474a-a72e-cf92c09f47eb.jpg?v=1672368157" alt="New Years Set">
        </picture>
      </div>
    </div>
  </div>
</section>
<section class="crystal-set-collection-top-short-description-section shopify-section">
  <div class="crystal-set-collection-container container">
  	<div class="crystal-set-collection-row row">
      <div class="crystal-set-collection-col col-md-12 align-center" style="width: 100%;margin-top: 10px;margin-bottom: 30px;">
        <!--<p class="top-short-description-txt crystal-set-collection-font1">This season, we're taking it back to the basics. We've curated all the essentials you need to build the perfect jewelry wardrobe.<br>These pieces are a necessity in every jewelry collection, whether you're in love with statement pieces for a bolder look or prefer to keep it minimal.</p>-->
      </div>
    </div>
  </div>
</section>

{% render 'new-years-collection-second-row-products' %}
<section class="crystal-set-collection-top-short-description-section shopify-section">
  <div class="crystal-set-collection-container container">
  	<div class="crystal-set-collection-row row">
      <div class="crystal-set-collection-col col-md-12 align-center" style="width: 100%;margin-top: 10px;margin-bottom: 30px;">
        <!--<p class="top-short-description-txt crystal-set-collection-font1">This season, we're taking it back to the basics. We've curated all the essentials you need to build the perfect jewelry wardrobe.<br>These pieces are a necessity in every jewelry collection, whether you're in love with statement pieces for a bolder look or prefer to keep it minimal.</p>-->
      </div>
    </div>
  </div>
</section>

{% render 'new-years-collection-third-row-products' %}
<section class="crystal-set-collection-top-short-description-section shopify-section">
  <div class="crystal-set-collection-container container">
  	<div class="crystal-set-collection-row row">
      <div class="crystal-set-collection-col col-md-12 align-center" style="width: 100%;margin-top: 10px;margin-bottom: 30px;">
        <!--<p class="top-short-description-txt crystal-set-collection-font1">This season, we're taking it back to the basics. We've curated all the essentials you need to build the perfect jewelry wardrobe.<br>These pieces are a necessity in every jewelry collection, whether you're in love with statement pieces for a bolder look or prefer to keep it minimal.</p>-->
      </div>
    </div>
  </div>
</section>


{% render 'new-years-collection-fourth-row-products' %}


<section class="crystal-set-collection-top-short-description-section shopify-section">
  <div class="crystal-set-collection-container container">
  	<div class="crystal-set-collection-row row">
      <div class="crystal-set-collection-col col-md-12 align-center" style="width: 100%;margin-top: 10px;margin-bottom: 30px;">
        <!--<p class="top-short-description-txt crystal-set-collection-font1">This season, we're taking it back to the basics. We've curated all the essentials you need to build the perfect jewelry wardrobe.<br>These pieces are a necessity in every jewelry collection, whether you're in love with statement pieces for a bolder look or prefer to keep it minimal.</p>-->
      </div>
    </div>
  </div>
</section>

<section class="crystal-set-collection-banner-section shopify-section collection-grid__row collection-grid__row--grid n-years-mb-display">

        <picture alt="New Years Set" class="n-years-mb-display">
          <source media="(min-width:600px)" srcset="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_44.jpg?v=1671929289">
          <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_150.jpg?v=1672182625" alt="New Years Set">
        </picture>

</section>
<section class="crystal-set-collection-top-short-description-section shopify-section">
  <div class="crystal-set-collection-container container">
  	<div class="crystal-set-collection-row row">
      <div class="crystal-set-collection-col col-md-12 align-center" style="width: 100%;margin-top: 10px;margin-bottom: 30px;">
        <!--<p class="top-short-description-txt crystal-set-collection-font1">This season, we're taking it back to the basics. We've curated all the essentials you need to build the perfect jewelry wardrobe.<br>These pieces are a necessity in every jewelry collection, whether you're in love with statement pieces for a bolder look or prefer to keep it minimal.</p>-->
      </div>
    </div>
  </div>
</section>




<script>
  document.querySelector('.no-touch').classList.remove('no-touch')

</script>