<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
<style>
.main-content>.page-header { display: none; }
  .fw-collection-banner-section .fw-collection-container.container .fw-collection-row .fw-collection-col img { max-height: 850px; width: 100%; object-fit: cover; }
  .fw-collection-container.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; margin-top:10px; }

   @media not all and (max-width: 768px){
    .fw-collection-container.container.Emerald { padding-right: 15px; padding-left: 15px; max-width: 1267px; margin-bottom: 50px;margin-top: -5px;}  
    .fw-collection-container.container.Emerald-Mobile {display:none;}
   }
  
   @media all and (max-width: 768px){
    .fw-collection-container.container.Emerald { display:none;}
    .fw-collection-container.container.Emerald-Mobile {margin-top: 5px;margin-bottom: 25px; width: 95%;}
   }


  
  .fw-collection-row.row { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;  }
  section.fw-collection-section.fw-collection-two-col-img-sec.section.shopify-section { padding: 70px 0px; }
  .rows-of-2 .col-md-6 { width: 50%; float: left; padding-left: 50px; padding-right: 50px; }
  .fw-collection-two-col-img-sec .row .col-md-6 .img-div1 { float: right; }
  .fw-collection-two-col-img-sec .row .col-md-6:first-child p { text-align: right; float: right; margin-bottom: 0;}
  .fw-collection-two-col-img-sec .row .col-md-6 .img-div:last-child { float: left; }
  .fw-collection-two-col-img-sec .row .col-md-6 .img-div img { max-height: 544px; object-fit: contain; width: 100%; }
  p.top-short-description-txt.fw-collection-font1 {text-align: center;color: #4C3935;font-size: 21px;line-height: 1.8em;font-family:'Quicksand', sans-serif; }
  p.top-short-description-txt.fw-collection-font2 {text-align: center;color: #AFB091;font-size: 21px;line-height: 1.8em;font-family:'Quicksand', sans-serif; }

  section.fw-collection-sixth-section.shopify-section { padding: 0px 0px 30px 0px; }
    p.for-desktop-devices{ display:none; margin-bottom: 0;}
    p.for-mobile-devices{ display:none; margin-bottom: 0;}
	@media screen and (max-width: 1200px){
    .fw-collection-two-col-img-sec .row .col-md-6:first-child p { margin-top: 30%; }
    .fw-collection-two-col-img-sec .row .col-md-6:last-child p { }
   }
  @media screen and (max-width: 1024px){
  	.fw-collection-two-col-img-sec .row .col-md-6:first-child p { }
    .fw-collection-two-col-img-sec .row .col-md-6:last-child p { }
     p.top-short-description-txt.fw-collection-font1 {text-align: center;color: #4C3935;font-size: 17px;line-height: 1.8em;font-family:'Quicksand', sans-serif; }
     p.top-short-description-txt.fw-collection-font2 {text-align: center;color: #AFB091;font-size: 17px;line-height: 1.8em;font-family:'Quicksand', sans-serif; }
      section.fw-collection-sixth-section.shopify-section {
      padding: 0px 0px 40px 0px;
    }

  }
  @media screen and (max-width: 900px){
  	.fw-collection-two-col-img-sec .row .col-md-6:first-child p { margin-top: 45%; }
    .fw-collection-two-col-img-sec .row .col-md-6:last-child p { }
     section.fw-collection-sixth-section.shopify-section {
      padding: 0px 0px 40px 0px;
    }
  }
  @media screen and (max-width: 768px){
    .top-short-description-txt br{ display:none; }
    p.for-desktop-devices{ display:none; }
    p.for-mobile-devices{ display:block; }
    .fw-collection-two-col-img-sec .row .col-md-6 .sign-img-div { text-align: center; }
    .rows-of-2 .col-md-6{ width: 100%; padding: inherit;}
    .fw-collection-two-col-img-sec .row .col-md-6 .img-div1,.fw-collection-two-col-img-sec .row .col-md-6 .img-div:last-child{ float: none; }
  	.fw-collection-two-col-img-sec .row .col-md-6:first-child p { float: none; text-align:center; margin-top: 0%; margin-bottom: 3%;}
    .fw-collection-two-col-img-sec .row .col-md-6:last-child p { float: none; text-align:center; }
     section.fw-collection-sixth-section.shopify-section {
      padding: 0px 0px 40px 0px;
    }
    .collection-grid__row.collection-grid__row--grid {
        margin-bottom: -6%;
    }

    .container-padd60-fw-collection {
      margin: 0 auto;
      max-width: 573px;
    }
  }
  @media screen and (max-width: 600px){
  	.fw-collection-two-col-img-sec .row .col-md-6:first-child p { }
    .fw-collection-two-col-img-sec .row .col-md-6:last-child p { }
     section.fw-collection-sixth-section.shopify-section {
      padding: 0px 0px 30px 0px;
     }
    .collection-grid__row.collection-grid__row--grid {
        margin-bottom: -8%;
    }
    .container-padd60-fw-collection {
      margin: 0 auto;
      max-width: 500px;
    }
  }
  @media screen and (max-width: 480px){
  	.fw-collection-two-col-img-sec .row .col-md-6:first-child p { }
    .fw-collection-two-col-img-sec .row .col-md-6:last-child p { }
     section.fw-collection-sixth-section.shopify-section {
      padding: 0px 0px 30px 0px;
     }
    .collection-grid__row.collection-grid__row--grid {
        margin-bottom: -8%;
    }
    .container-padd60-fw-collection {
      margin: 0 auto;
      max-width: 300px;
    }
  }
  @media screen and (max-width: 320px){
  	.fw-collection-two-col-img-sec .row .col-md-6:first-child p { }
    .fw-collection-two-col-img-sec .row .col-md-6:last-child p { }
     section.fw-collection-sixth-section.shopify-section {
      padding: 0px 0px 30px 0px;
     }
    .collection-grid__row.collection-grid__row--grid {
        margin-bottom: -8%;
    }

    .container-padd60-fw-collection {
      margin: 0 auto;
      max-width: 300px;
    }
  }
  @media screen and (min-width: 769px){
    p.for-desktop-devices{ display:block; }
    p.for-mobile-devices{ display:none; }
  @media screen and (min-width: 1170px){
    .fw-collection-two-col-img-sec .row .col-md-6:first-child p { max-width: 85%; margin-top: 165px; }
    .fw-collection-two-col-img-sec .row .col-md-6:last-child p { max-width: 85%; margin-bottom: 60px; }
  }
  
  @media screen and (min-width: 1200px){
    .fw-collection-two-col-img-sec .row .col-md-6:first-child p { max-width: 80%; margin-top: 175px; }
    .fw-collection-two-col-img-sec .row .col-md-6:last-child p { max-width: 80%; margin-bottom: 60px; }
  }
  
  @media screen and (min-width: 1400px){
    .fw-collection-two-col-img-sec .row .col-md-6:first-child p { max-width: 68%; }
    .fw-collection-two-col-img-sec .row .col-md-6:last-child p { max-width: 68%; margin-bottom: 60px; }
  }

  @media screen and (min-width: 768px) {  
    .container-padd60-fw-collection{
      margin: 0 auto;
      max-width: 950px;
    }
  }
    



</style>
<section class="fw-collection-banner-section shopify-section">
  <div class="fw-collection-container container">
    <div class="fw-collection-row">
      <div class="fw-collection-col">
      	<img src="https://cdn.shopify.com/s/files/1/0313/7539/2813/files/high_FW-Collection-Banner.png?v=1663818448" alt="FW Collection Banner">
      </div>
    </div>
  </div>
</section>
<section class="fw-collection-top-short-description-section shopify-section">
  <div class="fw-collection-container container">
  	<div class="fw-collection-row row">
      <div class="fw-collection-col col-md-12 align-center" style="width: 100%;margin-top: 10px;margin-bottom: 30px;">
        <p class="top-short-description-txt fw-collection-font1">This season, we're taking it back to the basics. We've curated all the essentials you need to build the perfect jewelry wardrobe.<br>These pieces are a necessity in every jewelry collection, whether you're in love with statement pieces for a bolder look or prefer to keep it minimal.</p>
      </div>
    </div>
  </div>
</section>


{% render 'fw-collection-first-row-products' %}
<section class="fw-collection-banner-section shopify-section">
  <div class="fw-collection-container container Emerald">
    <div class="fw-collection-row">
      <div class="fw-collection-col">
      	<img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Emerald.png?v=1664495567" alt="Emerald">
      </div>
    </div>
  </div>
  <div class="fw-collection-container container Emerald-Mobile">
    <div class="fw-collection-row">
      <div class="fw-collection-col">
      	<img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Emerald_Mobile.png?v=1664579867" alt="Emerald">
      </div>
    </div>
  </div>
  
</section>
  
  
{% render 'fw-collection-second-row-products' %}
{% render 'fw-collection-third-row-products' %}
{% render 'fw-collection-fourth-row-products' %}
{% render 'fw-collection-fifth-row-products' %}


