<picture>
    <source media="(min-width:650px)" srcset="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_2.jpg?v=1675777231">
    <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_1.jpg?v=1675777234" alt="" style=" width:100%">
  </picture>

<section class="page-care__section">
  
  <div class="care-four-img__container">
    <picture onclick="location.href='#care'">
      <source media="(min-width:700px)" srcset="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_14.jpg?v=1675777249">
      <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_9.jpg?v=1675777240" alt="" >
    </picture>
    <picture onclick="location.href='#prevent'">
      <source media="(min-width:700px)" srcset="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_13.jpg?v=1675777249">
      <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_212.jpg?v=1675777240" alt="" >
    </picture>
    <picture onclick="location.href='#clean'">
      <source media="(min-width:700px)" srcset="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_12.jpg?v=1675777249">
      <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_211.jpg?v=1675777240" alt="" >
    </picture>
    <picture onclick="location.href='#warranty'">
      <source media="(min-width:700px)" srcset="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_11.jpg?v=1675777249">
      <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_210.jpg?v=1675777240" alt="" >
    </picture>
  </div>

  <div style="width:100%; background:rgba(196, 126, 127, 0.2); display:flex; align-items:center; justify-content:center">
    <div class="care-img-txt__container" id="care">
      <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_216.png?v=1675780699">
      <div class="care-img-right_wrapper">
        <ul class="a">
          <li>Put on jewelry last when dressing up, and remove first when returning home.</li>
            <li>Store jewelry in our jewelry boxes or a soft pouch to avoid damage.</li>
            <ul class="b">
              <li>This protects it from dust, friction and exposure to sunlight/heat, which can damage the jewelry.</li>
            </ul>
            <li>We recommend removing jewelry before any physical activity and before sleeping.</li>
        </ul>
      </div>
    </div>
  </div>

  <div style="width:100%; display:flex; align-items:center; justify-content:center">
    <div class="care-img-txt__container" id="prevent" style="background: white !important">
      <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_215.png?v=1675780699">
      <div class="care-img-right_wrapper">
        <ul class="a">
          <li>Prevent submerging the jewelry in water and other chemical fluids.</li>
            <ul class="b">
              <li>Always try to remove jewelry before washing hands, swimming, or applying perfume, soap, make-up or lotions. This can damage the jewelry and reduce the lifetime of your pieces.</li>
            </ul>
            <li>Prevent impact with hard surfaces to avoid scratches and chipping.</li>
        </ul>
      </div>
    </div>
  </div>


  <div style="width:100%; background:rgba(196, 126, 127, 0.2); display:flex; align-items:center; justify-content:center">
    <div class="care-shining__container" >
      <div class="shining-title">Here are a few ways to keep your jewelry shining bright.</div>

      <div class="step-container">
          <div class="step-wrapper">
            <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_219.png?v=1675784331">
            <div class="step-body">Prevent from submerging the jewelry in water or other liquids.</div>
          </div>
          <div class="step-wrapper">
            <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_218.png?v=1675784330">
            <div class="step-body">Avoid direct contact with perfume, body lotions or chemicals.</div>
          </div>
          <div class="step-wrapper">
            <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_220.png?v=1675784331">
            <div class="step-body">Gently wipe the jewelry with a soft cloth and store it in an air-tight jewelry box.</div>
          </div>
          <div class="step-wrapper">
            <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_221.png?v=1675784331">
            <div class="step-body">Remove jewelry before going to bed or participating in physical activities. </div>
          </div>
      </div>
      

    </div>
  </div>


  <div class="care-img-txt__container" id="clean" style="background: white !important">
    <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_214.png?v=1675780699">
    <div class="care-img-right_wrapper">
      <ul class="a">
        <li>If possible, clean after every wear.</li>
          <li>Store jewelry in our jewelry boxes or a soft pouch to avoid damage.</li>
          <li>Use a soft lint-free cloth to gently wipe the jewelry. Do this frequently to maintain the jewelry's shine.</li>
          <ul class="b">
            <li>Please note that a polishing cloth will not remove scratches.</li>
          </ul>
          
      </ul>
    </div>
  </div>

  <div style="width:100%; background:rgba(196, 126, 127, 0.2); display:flex; align-items:center; justify-content:center">
    <div class="care-img-txt__container" id="warranty" >
      <img src="https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_213.png?v=1675780699">
      <div class="care-img-right_wrapper">
        <ul class="a">
          <li>If any of our jewelry does not meet your expectations, we offer a one-year warranty service to make things right.</li>
          <li>If you are unsatisfied with your purchase, contact us at <span style="text-decoration:underline">customerservice@bearfruitjewelry.com</span> with a photo and description of the issue, as well as proof of purchase, and we will do our best to find a solution for you.</li>
          <li>Please note that lost items, scratches coming from normal wear will not be covered under this warranty.</li>
          <li>Items must be returned and picked up at the same location before and after the warranty service. If you mail-in your item for service, the customer expected to cover shipping costs.</li>
          <li>Once items are received on our end, the warranty service will take approximately 4-8 weeks.</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="care-shining__container" style="background:white">
    <div class="shining-title">Need Some Extra Help?</div>

    <div class="information-txt" >For additional questions and concerns on how to keep your new piece as beautiful as the day you received it, you may <a href="/pages/contact-us" style="text-decoration:underline">contact us here</a>.</div>
  </div>




</section>

<style>
.page-care__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.care-four-img__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1053px;
  width: 80%;
  margin-top: -50px;

  margin-bottom: 80px;
}

.care-four-img__container picture {
  max-width: 223px;
  max-height: 223px;
  width: 22%;
  cursor: pointer;
}

.care-img-txt__container {
  width: 100%;
  max-width: 1354px;

  padding: 150px 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.care-img-txt__container img {
  width: 30%;
}
.care-img-right_wrapper {
  width: 70%;
}

ul.a {
  list-style-type: circle;
  list-style-position: outside;
  list-style: circle;
}
ul.b {
  list-style-type: circle;
  list-style-position: outside;
  list-style: circle;
}

  /*
ul.b li::before{
  content: "-" !important;
  color: black;
  display: inline-block;
  margin-left: 1em;
  width: 1em;
  list-style-position: outside;
}

ul.a li::before{
  content: "\2022";
  color: black;
  display: inline-block;
  width: 1em;
  list-style-position: outside;
}
  */

ul.b li {
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;

  color: #000000;
  list-style: "-" !important;
  list-style-position: outside;
  padding-left: 10px;
}

ul.a li {
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  list-style: disc;
  color: #000000;
  list-style-position: outside;
}

li::marker {
  list-style-position: outside;
  vertical-align: text-top;
}

.care-shining__container {
  width: 100%;
  max-width: 1354px;
  padding: 150px 108px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.shining-title {
  font-family: 'Optima';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 70px;
}

.step-container { 
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.step-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  flex-basis: 22%;
}

.step-body {
  font-family: 'Helvetica';
  font-weight: 300;
  font-size: 19px;
  line-height: 1.5;
  /* or 165% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.information-txt {
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  /* or 153% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #000000;
  display: inline-block;

}


@media(max-width: 1354px){
  .care-four-img__container {
    margin-top: -3.5%;
  }
}

@media(max-width: 700px){
  .care-four-img__container {
    margin-top: -3.5%;
  }

  .care-four-img__container {
    width: 68%;
    margin-top: -7%;
    flex-direction: column;
  }

  .care-four-img__container picture {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    margin-bottom: 15px;
    
  }


  .care-four-img__container picture {
    max-width: 100%;
    max-height: 100%;
    width: 300px;
  }

  .care-img-txt__container {
    width: 100%;
    padding: 60px 20px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }

  .care-img-txt__container img {
    width: 300px;
    margin-bottom: 30px;
  }
  .care-img-right_wrapper {
    width: 100%;
  }

  ul.b li {
    font-size: 15px;
    margin-left: 3px;
  }
  ul.a li {
    font-size: 15px;
    margin-left: 5px;
  }

  ul.b li::before{
    width: 1.5em;
  }

  ul.a li::before{
    width: 1.5em;
  }



  .care-shining__container {
    padding: 60px 20px;

  }

  .shining-title {
    font-size: 24px;
    margin-bottom: 26px;

  }

  .step-container { 
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .step-wrapper {
    flex-basis: 100%;
  }

  .step-wrapper img {
    width: 150px;
  }

  .step-body {
    font-size: 15px;
    width: 60%;
  }

  .information-txt {
    font-size: 15px;
  }


}
</style>